<table id="related-material-table" border="0">
  <thead>
    <tr>
      <th>Related Material</th>
    </tr>
  </thead>
  <tbody>
    <% for rm in study.related_materials.order(:position) %>
      <tr class="<%= cycle('', 'alt') %>">
        <td>
        <% idx = rm.nesstar_id.split("_").last.to_i + 1 %>
        <%= idx %>.

        <% if rm.uri.nil? %>
          <% if rm.label %>
            Label: <%= rm.label %>
          <% end %>
          <% if rm.comment %>
            Comment: <%= rm.comment %>
          <% end %>
        <% else %>
          <% if rm.label %>
           Label: <a href="<%= related_material_url(rm) %>" title ="<%= rm.label %>"> <%= rm.label %></a> <br>
          <% end %> 

          <% if rm.comment %>
           Comment: <a href="<%= related_material_url(rm) %>" title ="<%= rm.comment %>"> <%= rm.comment %></a> <br>
          <% end %> 

          <% if rm.label.nil? and rm.comment.nil? 
            filename = related_material.uri.split(/\//).last %>
           Filename: <a href="<%= related_material_url(rm) %>" title ="<%= filename %>"> <%= filename %></a> <br>
          <% end %> 
        <% end %>
        </td>
	    </tr>
    <% end %>
  </tbody>
</table>
