<% fields = study.attributes.dup 
  fields.delete("id") 
  fields.delete("created_at")
  fields.delete("updated_at")   
  %>

<table id="study-table" border=0>
  <thead>
    <tr>
      <th>Item</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
  	<%= study_field_table_row('doc_title', study, fields) %>
  	<%= study_field_table_row('series_name', study, fields)%>
  	<%= study_field_table_row('stdy_id', study, fields) %>
  	<%= study_field_table_row('abstract_text', study, fields) %>
  	<%= study_field_table_row('stdy_prod_date', study, fields) %>
  	<%= study_field_table_row('stdy_prod_date', study, fields) %>

  	<% if fields.has_key?("collection_start") or fields.has_key?("collection_end") %>
  	 <tr>
       <td valign=top>Date of Collection</td>
      <td>
         <table>
         	 <%= study_field_table_row('collection_start', study, fields) %>
         	 <%= study_field_table_row('collection_end', study, fields) %>
         </table>
       </td>
     </tr>
    <% end %>

  	<% if fields.has_key?("stdy_contact") or fields.has_key?("stdy_contact_affiliation") or fields.has_key?("stdy_contact_email") %>
      <tr>
       <td valign=top>
         Contact Person
       </td>
       <td>
         <table>
          	<%= study_field_table_row('stdy_contact', study, fields) %>
          	<%= study_field_table_row('stdy_contact_affiliation', study, fields) %>
          	<%= study_field_table_row('stdy_contact_email', study, fields) %>
         </table>
       </td>
     </tr>
    <% end %>
 
   	<%= study_field_table_row('stdy_dep_date', study, fields) %>

  	<% if fields.has_key?("collection_start") or fields.has_key?("collection_end") %>
  	 <tr>
       <td>
         <table>
           <caption>Version</caption>
         	 <%= study_field_table_row('stdyVersion', study, fields) %>
         	 <%= study_field_table_row('stdyVersionDate', study, fields) %>
         </table>
       </td>
     </tr>
    <% end %>
 
   	<%= study_field_table_row('keywords', study, fields) %>
   	<%= study_field_table_row('nation', study, fields) %>
   	<%= study_field_table_row('geographical_cover', study, fields) %>
   	<%= study_field_table_row('geographical_unit', study, fields) %>
   	<%= study_field_table_row('analytical_unit', study, fields) %>
   	<%= study_field_table_row('universe', study, fields) %>
   	<%= study_field_table_row('dataKind', study, fields) %>
   	<%= study_field_table_row('sampling', study, fields) %>
   	<%= study_field_table_row('collMode', study, fields) %>
   	<%= study_field_table_row('timeMeth', study, fields) %>
   	<%= study_field_table_row('weight', study, fields) %>
   	<%= study_field_table_row('doc_bibl_cit', study, fields) %>
   	<%= study_field_table_row('stdy_copyright', study, fields) %>
   	<%= study_field_table_row('doc_copyright', study, fields) %>
   	<%= study_field_table_row('universe', study, fields) %>
   </tr>

   <% for key in fields.keys %>
  	<%= study_field_table_row(key, study, fields) %>
   <% end %>
 </tbody>
</table>
