<% fields = study.attributes.dup 
  fields.delete("id") %>

<table id="study-table" border=0>
  <thead>
    <tr>
      <th>Item</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
  	<%= study_field_table_row('doc_title', study, fields) %>
  	<%= study_field_table_row('series_name', study, fields)%>
  	<%= study_field_table_row('stdy_id', study, fields) %>
  	<%= study_field_table_row('abstract_text', study, fields) %>
  	<%= study_field_table_row('stdy_prod_date', study, fields) %>
  	<%= study_field_table_row('stdy_prod_date', study, fields) %>

  	<% if fields.has_key?("collectionStart") or fields.has_key?("collectionEnd") %>
  	 <tr>
       <td valign=top>Date of Collection</td>
      <td>
         <table>
         	 <%= study_field_table_row('collectionStart', study, fields) %>
         	 <%= study_field_table_row('collectionEnd', study, fields) %>
         </table>
       </td>
     </tr>
    <% end %>

  	<% if fields.has_key?("stdyContact") or fields.has_key?("stdyContactAffiliation") or fields.has_key?("stdyContactEmail") %>
      <tr>
       <td valign=top>
         Contact Person
       </td>
       <td>
         <table>
          	<%= study_field_table_row('stdyContact', study, fields) %>
          	<%= study_field_table_row('stdyContactAffiliation', study, fields) %>
          	<%= study_field_table_row('stdyContactEmail', study, fields) %>
         </table>
       </td>
     </tr>
    <% end %>
 
   	<%= study_field_table_row('stdyDepDate', study, fields) %>

  	<% if fields.has_key?("collectionStart") or fields.has_key?("collectionEnd") %>
  	 <tr>
       <td>
         <table>
           <caption>Version</caption>
         	 <%= study_field_table_row('stdyVersion', study, fields) %>
         	 <%= study_field_table_row('stdyVersionDate', study, fields) %>
         </table>
       </td>
     </tr>
    <% end %>
 
   	<%= study_field_table_row('subcat', study, fields) %>
   	<%= study_field_table_row('keywords', study, fields) %>
   	<%= study_field_table_row('nation', study, fields) %>
   	<%= study_field_table_row('geographicalCover', study, fields) %>
   	<%= study_field_table_row('geographicalUnit', study, fields) %>
   	<%= study_field_table_row('analyticalUnit', study, fields) %>
   	<%= study_field_table_row('universe', study, fields) %>
   	<%= study_field_table_row('dataKind', study, fields) %>
   	<%= study_field_table_row('sampling', study, fields) %>
   	<%= study_field_table_row('collMode', study, fields) %>
   	<%= study_field_table_row('timeMeth', study, fields) %>
   	<%= study_field_table_row('weight', study, fields) %>
   	<%= study_field_table_row('docBiblCit', study, fields) %>
   	<%= study_field_table_row('stdyCopyright', study, fields) %>
   	<%= study_field_table_row('docCopyright', study, fields) %>
   	<%= study_field_table_row('universe', study, fields) %>
   </tr>

   <% for key in fields.keys %>
  	<%= study_field_table_row(key, study, fields) %>
   <% end %>
 </tbody>
</table>
