<% fields = StudyField.to_hash(study) %>

<table id="study-table">
  <caption><%= study.label %></caption>
  <thead>
    <tr>
      <th>Item</th>
      <th>Content</th>
    </tr>
  </thead>
	<%= study_field_table_row('docTitle', study, fields, 'standard') %>
	<%= study_field_table_row('seriesName', study, fields, 'standard')%>
	<%= study_field_table_row('stdyID', study, fields, 'standard') %>
	<%= study_field_table_row('abstractText', study, fields, 'standard') %>
	<%= study_field_table_row('stdyProdDate', study, fields, 'standard') %>
	<%= study_field_table_row('stdyProdDate', study, fields, 'standard') %>

	<% if fields.has_key?("collectionStart") or fields.has_key?("collectionEnd") %>
	 <tr>
     <td>
       <table>
         <caption>Date of Collection</caption>
       	 <%= study_field_table_row('collectionStart', study, fields, 'standard') %>
       	 <%= study_field_table_row('collectionEnd', study, fields, 'standard') %>
       </table>
     </td>
   </tr>
  <% end %>

	<% if fields.has_key?("stdyContact") or fields.has_key?("stdyContactAffiliation") or fields.has_key?("stdyContactEmail") %>
    <tr>
     <td>
       <table>
         <caption>Contact Person</caption>
        	<%= study_field_table_row('stdyContact', study, fields, 'standard') %>
        	<%= study_field_table_row('stdyContactAffiliation', study, fields, 'standard') %>
        	<%= study_field_table_row('stdyContactEmail', study, fields, 'standard') %>
       </table>
     </td>
   </tr>
  <% end %>
 
 	<%= study_field_table_row('stdyDepDate', study, fields, 'standard') %>

	<% if fields.has_key?("collectionStart") or fields.has_key?("collectionEnd") %>
	 <tr>
     <td>
       <table>
         <caption>Version</caption>
       	 <%= study_field_table_row('stdyVersion', study, fields, 'standard') %>
       	 <%= study_field_table_row('stdyVersionDate', study, fields, 'standard') %>
       </table>
     </td>
   </tr>
  <% end %>
 
 	<%= study_field_table_row('subcat', study, fields, 'standard') %>
 	<%= study_field_table_row('keywords', study, fields, 'standard') %>
 	<%= study_field_table_row('nation', study, fields, 'standard') %>
 	<%= study_field_table_row('geographicalCover', study, fields, 'standard') %>
 	<%= study_field_table_row('geographicalUnit', study, fields, 'standard') %>
 	<%= study_field_table_row('analyticalUnit', study, fields, 'standard') %>
 	<%= study_field_table_row('universe', study, fields, 'standard') %>
 	<%= study_field_table_row('dataKind', study, fields, 'standard') %>
 	<%= study_field_table_row('sampling', study, fields, 'standard') %>
 	<%= study_field_table_row('collMode', study, fields, 'standard') %>
 	<%= study_field_table_row('timeMeth', study, fields, 'standard') %>
 	<%= study_field_table_row('weight', study, fields, 'standard') %>
 	<%= study_field_table_row('docBiblCit', study, fields, 'standard') %>
 	<%= study_field_table_row('stdyCopyright', study, fields, 'standard') %>
 	<%= study_field_table_row('docCopyright', study, fields, 'standard') %>
 	<%= study_field_table_row('universe', study, fields, 'standard') %>
 	 	
 </tr>
 <tr>
   <td valign="top">Related Materials</td><td valign="top"> <a r:if="study.related_materials_attribute" href="<%=study.related_materials_attribute.value%>"><%=study.related_materials_attribute.value %></a> </td>
 </tr>

 <% for key in fields.keys %>
	<%= study_field_table_row(key, study, fields, 'optional') %> 
 <% end %>

</table>
