<% fields = VariableField.to_hash(variable) %>

<li>
	<a  id="<%= variable_anchor(variable) %>">Label: <%= variable.label %> </a><br/>
	Name: <%= variable.name %> <br/>
	Numcats: <%= variable.num_cats %> <br/>
	Val Range Max: <%= variable.val_range_max %> <br/>
	Val Range Max: <%= variable.val_range_min %> <br/>
	
	<% for field in fields %>
	  <%= variable_field(field) %> <br/>
	<% end %>	
</li>