<% fields = VariableField.to_hash(variable) %>
<table border=1>
  <thead>
    <tr>
      <th colspan=2><a id="<%= variable_anchor(variable) %>"  href="<%= variable_href(variable, @current_archive) %>" ><%= variable.label %></a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th> Name</th>
      <th> Numcats</th>
    </tr>
    <tr>
      <td><%= variable.name %> </td>
      <td><%= variable.num_cats %> </td>
    </tr>
    <tr>
      <th> Val Range Min</th>
      <th> Val Range Max</th>
    </tr>
    <tr>
      <td><%= variable.name %> </td>
      <td><%= variable.val_range_max %> </td>
    </tr>
  	<% for field in fields %>
  	  <tr>
  	    <td colspan=2> <%= variable_field(field) %> </td>
  	  </tr>
  	<% end %>	
  </tbody>
</table>
