<% content_for(:sidenav) do %>
  <%= render :partial => '/shared/side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	<%= @archive_study.path.slug %>
<% end %>


<% content_for :js do %>

  $("#study-fields-link").click(function() {
    $('#study-fields').show();
    $('#variables').hide();
    $('#rms').hide();
    $('#study-menu-item').toggleClass('selected-tab', true);
  	$('#variables-menu-item').toggleClass('selected-tab', false);
  	$('#rms-menu-item').toggleClass('selected-tab', false);
  });

  $("#variables-link").click(function() {
    $('#study-fields').hide();
    $('#variables').show();
    $('#rms').hide();
    $('#variables-menu-item').toggleClass('selected-tab', true);
  	$('#study-menu-item').toggleClass('selected-tab', false);
  	$('#rms-menu-item').toggleClass('selected-tab', false);
  });
  
  $("#rms-link").click(function() {
    $('#study-fields').hide();
    $('#variables').hide();
    $('#rms').show();
    $('#rms-menu-item').toggleClass('selected-tab', true);
  	$('#variables-menu-item').toggleClass('selected-tab', false);
  	$('#study-menu-item').toggleClass('selected-tab', false);
  });

<% end %>

<aside class="breakout">
    <a href="<%= $nesstar_server %>/webview/index.jsp?object=<%= @study.about %>">Analyse/Download&nbsp;this&nbsp;study&nbsp;in&nbsp;Nesstar</a>
</aside>


<br/>
<br/>
<br/>

<section id="study">
  <% study = @study %>

	<div id="tabs">
	  <ul>
	    <li id="study-menu-item" <%= selected_tab_if(['study'], params[:show]) %>> <a id="study-fields-link">Study</a> </li>
	    <li id="variables-menu-item" <%= selected_tab_if(['var'], params[:show]) %>> <a id="variables-link">Variables</a> (<%= @study.variables.size %>) </li>

  <% if study.study_related_materials.any? %>
  	  <li id="rms-menu-item" <%= selected_tab_if(['rm'], params[:show]) %>> <a id="rms-link">Related Materials</a> (<%= @study.study_related_materials.size %>)</li>
  <% end %>
	  </ul>
	</div>
	
		
  <section id="study-fields" <%= conceal_unless(['study'], params[:show]) %>>
      <%= render :partial => "study_table", :locals => {:study => study} %>
  </section>
    
  <section id="variables" <%= conceal_unless(['var'], params[:show]) %>>
	  <%= render :partial => "variable", :collection => study.variables, :spacer_template => "spacer" %>
  </section>
  
    <section id="rms" <%= conceal_unless(['rms'], params[:show]) %> >
      <ul>
    		<% for rm in study.study_related_materials %>
      		<% unless rm.uri.nil? %>
            <li>
               <a href="<%= related_material_url(rm) %>"><%= related_material_comment_then_file_name(rm) %></a> 
            </li>
          <% end %>
    		<% end %>
      </ul>
    </section>
  
</section>