<% content_for(:sidenav) do %>
  <%= render :partial => '/shared/side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	<%= @archive_study.path.slug %>
<% end %>


<% content_for :js do %>

  $("#study-link").click(function() {
    $('#study').toggle('slow', function() {});
    $('#related-materials').toggle('slow', function() {});
  });

  $("#variables-link").click(function() {
    $('#study').toggle('slow', function() {});
    $('#variables').toggle('slow', function() {});
  });
  
  $("#related-materials-link").click(function() {
    $('#study').toggle('slow', function() {});
    $('#related-materials').toggle('slow', function() {});
  });

  $("#related-studies-link").click(function() {
    $('#study').toggle('slow', function() {});
    $('#related-materials').toggle('slow', function() {});
  });

<% end %>

<aside></aside>

<section>
  <% study = @study %>

  <nav class="studynav">
    <ul>
      <li> <a id="study-link">Study Description</a> </li>
      <li> <a id="variables-link">Variable Description</a> </li>
      <li> <a id="related-materials-link">Related Materials</a> </li>
      <li> <a id="related-publications-link">Related Publications</a> </li>
      <li> <a id="related-studies-link">Related Studies</a> </li>
      <li> <a id="audiovisual-link">Audiovisual</a> </li>
      <li> <a id="geospatial-link">Geospatial</a> </li>
    </ul>
  </nav>

	<br/>
  <span class="float-right">Analyse this study in Nesstar.</span>
	<br/>
  <span class="float-right">Download this study in Nesstar.</span>
	<br/>

    
  <p><p>

  <div id="study">
    <%= render :partial => "table", :locals => {:study => study} %>
  </div>

  <div id="related-materials" style="display:none">
    <h3>Related Materials</h3>
    <ul>
  		<% for rm in study.study_related_materials %>
      <li>
         <a href="nesstar/related_material/<%= rm.id %>"><%=rm.comment %></a>
      </li>
  		<% end %>
    </ul>
  </div>

  <div id="variables" style="display:none">
    <h3>Variable Description</h3>
    <ul>
		<%= render(:partial => "variable", :collection => study.variables)%>
    </ul>
  </div>

  <div id="categories" style="display:none">
    <h3>Categories</h3>      
  </div>
</section>