<% content_for(:sidenav) do %>
  <%= render :partial => '/shared/side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	<%= @archive_study.path.slug %>
<% end %>


<% content_for :js do %>

  $("#study-fields-link").click(function() {
    $('#study-fields').show();
    $('#variables').hide();
    $('#rms').hide();
    $('#study-menu-item').toggleClass('selected-tab', true);
  	$('#variables-menu-item').toggleClass('selected-tab', false);
  	$('#rms-menu-item').toggleClass('selected-tab', false);
  });

  $("#variables-link").click(function() {
    $('#study-fields').hide();
    $('#variables').show();
    $('#rms').hide();
    $('#variables-menu-item').toggleClass('selected-tab', true);
  	$('#study-menu-item').toggleClass('selected-tab', false);
  	$('#rms-menu-item').toggleClass('selected-tab', false);
  });
  
  $("#rms-link").click(function() {
    $('#study-fields').hide();
    $('#variables').hide();
    $('#rms').show();
    $('#rms-menu-item').toggleClass('selected-tab', true);
  	$('#variables-menu-item').toggleClass('selected-tab', false);
  	$('#study-menu-item').toggleClass('selected-tab', false);
  });

<% end %>

<aside>
  <ul>
    <li><a href="<%= NESSTAR %>/webview/index.jsp?object=http://bonus.anu.edu.au:81/obj/fStudy/au.edu.anu.ada.ddi.<%= @study.ddi_id %>">Analyse/Download this study in Nesstar.</a></li>    
  </ul>
	<br/>
	
</aside>

<br/><br/><br/>

<section id="study">
  <% study = @study %>

	<div id="tabs">
	  <ul>
	    <li id="study-menu-item" <%= selected_tab_if(['study'], params[:format]) %>> <a id="study-fields-link">Study</a> </li>
	    <li id="variables-menu-item" <%= selected_tab_if(['var'], params[:format]) %>> <a id="variables-link">Variables</a> </li>
	    <li id="rms-menu-item" <%= selected_tab_if(['rm'], params[:format]) %>> <a id="rms-link">Related Materials</a> </li>
	  </ul>
	</div>
	
		
  <section id="study-fields" <%= conceal_unless(['study'], params[:format]) %>>
      <%= render :partial => "study_table", :locals => {:study => study} %>
  </section>
    
  <section id="variables" <%= conceal_unless(['var'], params[:format]) %>
    <h3>Variable Description</h3>
    <ul>
		  <%= render(:partial => "variable", :collection => study.variables)%>
    </ul>
  </section>
  
  <section id="rms" <%= conceal_unless(['rms'], params[:format]) %> >
    <h3>Related Materials</h3>
    <ul>
  		<% for rm in study.study_related_materials %>
      <li>
         <a href="nesstar/related_material/<%= rm.id %>"><%=rm.comment %></a>
      </li>
  		<% end %>
    </ul>
  </section>
  
</section>