<% content_for(:sidenav) do %>
  <%= render :partial => '/shared/side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	<%= @archive_study.urn %>
<% end %>

<% content_for :js do %>

  $("#study-fields-link").click(function() {
    $('#study-fields').show();
    $('#variables').hide();
    $('#rms').hide();
    $('#study-menu-item').toggleClass('selected-tab', true);
  	$('#variables-menu-item').toggleClass('selected-tab', false);
  	$('#rms-menu-item').toggleClass('selected-tab', false);
  });

  $("#variables-link").click(function() {
    $('#study-fields').hide();
    $('#variables').show();
    $('#rms').hide();
    $('#variables-menu-item').toggleClass('selected-tab', true);
  	$('#study-menu-item').toggleClass('selected-tab', false);
  	$('#rms-menu-item').toggleClass('selected-tab', false);
  });
  
  $("#rms-link").click(function() {
    $('#study-fields').hide();
    $('#variables').hide();
    $('#rms').show();
    $('#rms-menu-item').toggleClass('selected-tab', true);
  	$('#variables-menu-item').toggleClass('selected-tab', false);
  	$('#study-menu-item').toggleClass('selected-tab', false);
  });

<% end %>

<aside class="breakout study">
    <% if current_user %>
      You can 
      <% if @perms['browse'] %>
        <%= link_to 'Browse', "#{NESSTAR_SERVER}/webview/index.jsp?object=#{NESSTAR_SERVER}:80/obj/fStudy/#{@study.stdy_id}&cms_url=#{@archive_study.path.slug}" %>: <%= "\u2713" %>
      <% end %>

      <% if @perms['analyse'] %>
         <%= link_to 'Analyse', "#{NESSTAR_SERVER}/webview/index.jsp?object=#{NESSTAR_SERVER}:80/obj/fStudy/#{@study.stdy_id}&cms_url=#{@archive_study.path.slug}" %>:: <%= "\u2713" %>
      <% end %>

      <% if @perms['download'] %>
        <%= link_to 'Download', "#{NESSTAR_SERVER}/webview/index.jsp?study=#{NESSTAR_SERVER}:80/obj/fStudy/#{@study.stdy_id}&mode=download&cms_url=#{@archive_study.path.slug}" %>: <%= "\u2713" %>
      <% end %>


      <%perms_to_request = ""
        perms_to_request += "Analyse" unless @perms['analyse']
        perms_to_request += " and Download" unless @perms['download']
        
        unless perms_to_request.blank? %>
        <br>        
        Request <%= link_to perms_to_request, "#{OPENID_SERVER}/users/#{@username}/undertakings/new?datasetID=#{@study.stdy_id}" %> access </a>
      <% end %>
    <% else  %>
      <%= link_to 'Log in', OPENID_SERVER %> to see your data access permissions.
    <% end %>
</aside>


<section id="study">
  <% study = @study %>

	<div id="tabs">
	  <ul>
	    <li id="study-menu-item" <%= selected_tab_if(['study'], params[:show]) %>> <a id="study-fields-link">Study</a> </li>
	    <li id="variables-menu-item" <%= selected_tab_if(['var'], params[:show]) %>> <a id="variables-link">Variables</a> (<%= @study.variables.count %>) </li>
  	  <li id="rms-menu-item" <%= selected_tab_if(['rm'], params[:show]) %>> <a id="rms-link">Related Materials</a> (<%= @study.related_materials.count %>)</li>
	  </ul>
	</div>
	

  <% cache "show-study-#{@study.id}" do %>	
    <section id="study-fields" <%= conceal_unless(['study'], params[:show]) %>>
        <%= render :partial => "study_table", :locals => {:study => study} %>
    </section>
      
    <section id="variables" <%= conceal_unless(['var'], params[:show]) %>>
      <%= will_paginate @variables, :params => {:show => "var"}  %>
  	  <%= render :partial => "variable", :collection => @variables %>
    </section>
    
    <section id="rms" <%= conceal_unless(['rms'], params[:show]) %> >
      <%= render :partial => "related_material_table", :locals => {:study => study} %>
    </section>
  <% end %>
  
</section>
