<% content_for(:sidenav) do %>
  <%= render :partial => '/shared/side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	<%= @archive_study.path.slug %>
<% end %>


<% content_for :js do %>

  $("#study-link").click(function() {
    $('#study').show();
    $('#variables').hide();
    $('#related-materials').hide();
  });

  $("#variables-link").click(function() {
    $('#study').hide();
    $('#variables').show();
    $('#related-materials').hide();
  });
  
  $("#related-materials-link").click(function() {
    $('#study').hide();
    $('#variables').hide();
    $('#related-materials').show();
  });

<% end %>

<aside>
  <ul>
    <li>Analyse this study in Nesstar.</li>
    <li>Download this study in Nesstar.</li>    
  </ul>
	<br/>
</aside>

<section>
  <% study = @study %>

	<div id="tabs">
	  <ul>
	    <li id="study" <%= selected_tab_if(['study'], params[:format]) %>> <a id="study-link">Study</a> </li>
	    <li id="variables" <%= selected_tab_if(['var'], params[:format]) %>> <a id="variables-link">Variables</a> </li>
	    <li id="related-materials" <%= selected_tab_if(['rm'], params[:format]) %>> <a id="related-materials-link">Related Materials</a> </li>
	  </ul>
	</div>
	
  <section id="study">
      <%= render :partial => "table", :locals => {:study => study} %>
  </section>
  
  <section id="related-materials" class="concealed">
    <h3>Related Materials</h3>
    <ul>
  		<% for rm in study.study_related_materials %>
      <li>
         <a href="nesstar/related_material/<%= rm.id %>"><%=rm.comment %></a>
      </li>
  		<% end %>
    </ul>
  </section>
  
  <section id="variables" class="concealed">
    <h3>Variable Description</h3>
    <ul>
		<%= render(:partial => "variable", :collection => study.variables)%>
    </ul>
  </section>
  
  
    
<br/><br/><br/><br/><br/><br/>

  <nav class="studynav">
    <ul>
      <li> <a id="study-link">Study Description</a> </li>
      <li> <a id="variables-link">Variable Description</a> </li>
      <li> <a id="related-materials-link">Related Materials</a> </li>
    </ul>
  </nav>

    
  <p><p>
</section>