<% content_for(:sidenav) do %>
  <%= render :partial => '/shared/side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	<%= @archive_study.path.slug %>
<% end %>


<% content_for :js do %>

  $("#study-link").click(function() {
    $('#related-materials').toggle('slow', function() {});
    $('#related-studies').toggle('slow', function() {});
  });
  
  $("#related-materials-link").click(function() {
    $('#study').toggle('slow', function() {});
    $('#related-studies').toggle('slow', function() {});
  });

  $("#related-studies-link").click(function() {
    $('#study').toggle('slow', function() {});
    $('#related-materials').toggle('slow', function() {});
  });

<% end %>

<div id="content">
	<div id="page">
    <% study = @study %>

		<div id="study-page">
        <a id="study-link">Study Description</a> |
        <a id="related-materials-link">Related Materials</a> |
        <a id="related-studys-link">Related Studies</a> 
<p>
        <span class="float-right">Analyse or download this <a href="/nesstar/study/<%=study.id%>">study</a>.</span>

        <div id="study">
          <%= render :partial => "table", :locals => {:study => study} %>
        </div>
        <div id="related-materials" style="display:none">
          <div>
          <h3>Related Materials</h3>
          <ul>
						<% for rm in study.study_related_materials %>
            <li>
               <a href="nesstar/related_material/<%= rm.id %>"><%=rm.comment %></a>
            </li>
						<% end %>
          </ul>
        </div>

        <div id="categories" style="display:none">
          <div>
          <h3>Categories</h3>
          
          This section is left over from ATSIDA - unsure of its relevance now.
        </div>
        
      </div>
		</div>
</div>
