
<section id="studies-view" class="concealed">
	<div class="float-centre">
	    <%= will_paginate @studies_search.results %>
	</div>
	<br/>

  <table id="search-results-table" >
    <% @studies_search.each_hit_with_result do |hit, study| %>
      <tr>
        <td>
           <div id="study-<%= study.ddi_id %>">
             <% archive_study = study.for_archive(@current_archive) %>
             Study Title: <%= link_to study.field("docTitle"), "#{archive_study.path.slug}" %> 
             <% unless study.field("stdyAuthEntity").blank? %> by <% study.field("stdyAuthEntity") %>. <% end %> <br/>
             Abstract: <%= first_n_words(30, study.abstract) %> <br/>
             Study Id: <%= study.ddi_id %> <br/>
             Variables: <%= study.variables.size %> <br/>

						Relevance: <%= hit.score %> <br/>

						<%= highlight_excerpt(hit.highlight(:label)) %> <br/>
						<%= highlight_excerpt(hit.highlight(:abstract)) %> <br/>
						<%= highlight_excerpt(hit.highlight(:commment)) %> <br/>
						

           <% for archive_study in study.archive_studies %>
             <% next if archive_study.archive == Archive.ada %>
             <a href="<%= archive_study.path.slug %>"><%= archive_icon(archive_study.archive) %></a>
           <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</section>
