<% content_for :js do %>
  $("#title-view-link").click(function() {
  	$('#title-view-item').toggleClass('selected-menu-item', true);
  	$('#ext-view-item').toggleClass('selected-menu-item', false);
    $('#search-results-title').show();
		$('#search-results-ext').hide();
  });

  $("#ext-view-link").click(function() {
  	$('#title-view-item').toggleClass('selected-menu-item', false);
  	$('#ext-view-item').toggleClass('selected-menu-item', true);
    $('#search-results-ext').show();
		$('#search-results-title').hide();
  });
<% end %>

<section id="study-results">
	<div class="float-centre">
	    <%= will_paginate @studies_search.results %>
	</div>
	<br/>

	<ul id="sub-menu" <%= conceal_unless(['title', 'ext'], params[:format]) %>>
		<li id="title-view-item" <%= selected('title', params[:format]) %>> <a id="title-view-link">Title View</a></li> 
		<li>|</li> 
		<li id="ext-view-item" <%= selected('ext', params[:format]) %>> <a id="ext-view-link">Extended</a></li>
	</ul>

	<table id="search-results-title" <%= conceal_unless(['title'], params[:format]) %>>
		<thead>
			<tr>
				<th>Study</th>
				<th>Authoring Entity</th>
				<th>Year</th>
				<th>Type (Archive?)</th>
			</tr>
		</thead>
		<tbody>
	    <% @studies_search.each_hit_with_result do |hit, study| %>	
	      <tr id="study-<%= study.ddi_id %>">
	        <td> <%= link_to study.field("docTitle"), "#{study.for_archive(@current_archive).path.slug}" %> </td>
	        <td> <%= study.field("stdyAuthEntity") %> </td>
	        <td> <%= study.field("stdyProdDate") %> </td>
	        <td>
	           <% for archive_study in study.archive_studies %>
	             <% next if archive_study.archive == Archive.ada %>
	             <a href="<%= archive_study.path.slug %>"><%= archive_icon(archive_study.archive) %></a>
	           <% end %>
	        </td>
	      </tr>	
			<% end %>
		</tbody>	
	</table>

  <table id="search-results-ext" <%= conceal_unless(['ext'], params[:format]) %> border=1>
    <% @studies_search.each_hit_with_result do |hit, study| %>
			<%= render(:partial => "extended_search_result", :locals => {:hit => hit, :study => study})%>
    <% end %>
  </table>
</section>
