<section id="variable-results" class="concealed">
	<div class="float-centre">
	    <%= will_paginate @variables_search.results %>
	</div>
	<br/>

  <table id="search-results-table" border=1>
    <% @variables_search.each_hit_with_result do |hit, variable| %>
      <tr>
        <td>
           <div id="variable-<%= variable.name %>">
             Variable Label: <%= variable.label %> 
            <% if variable.question_text %> <br/>
              Question Text: <%= first_n_words(30, variable.question_text) %> <br/>
            <% end %>
            
						Relevance: <%= hit.score %> <br/>

						<%= highlight_excerpt(hit.highlight(:label)) %> <br/>
						<%= highlight_excerpt(hit.highlight(:question_text)) %> <br/>
        </td>
      </tr>
    <% end %>
  </table>
</section>
