
<section id="variable-results" <%= conceal_unless(['var'], params[:format]) %>>
	<div class="float-centre">
	    <%= will_paginate @variables_search.results %>
	</div>
	<fieldset class="search-border"> 
    <table id="search-results-table" border=1>
      <thead>
        <tr>
          <th>Variable</th>
          <th>Archive</th>
        </tr>
      </thead>
      <tbody>
        <% @variables_search.each_hit_with_result do |hit, variable| %>
          <tr>
            <td>
               <div id="variable-<%= variable.name %>">
                 Variable Label: <%= link_to variable.label, "#{variable.study.for_archive(@current_archive).path.slug}##{variable_anchor(variable)}" %> 
                <% if variable.question_text %> <br/>
                  Question Text: <%= first_n_words(30, variable.question_text) %> <br/>
                <% end %>
            						
            </td>
            <td>
              <% for archive_study in variable.study.archive_studies %>
                <% next if archive_study.archive == Archive.ada %>
                <a href="<%= archive_study.path.slug %>"><%= archive_icon(archive_study.archive) %></a>
              <% end %>	
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>
</section>
