<% content_for(:sidenav) do %>
  <%= render :partial => '/shared/search_side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	Search: <%= @term %>
<% end %>

<aside>	</aside>

<article>

	Term: <%= params[:term] %> <p/>
	Filters:
	
  <% params[:filters].each do |facet|
    facet.each do |name, value| %>
 		<%= Study::FACETS[name.to_sym] %> = <%= value %>
		<% unless facet == params[:filters].last %>, <% end %>
		<% end %>
<% end %>
	
  <div class="float-centre">
      <%= will_paginate @search.results %>
  </div>
  <br/>

<div id="title-view">
  <table id="search-results-table" >
    <% @search.each_hit_with_result do |hit, study| %>
      <tr>
        <td>
           <div id="study-<%= study.ddi_id %>">
             <% archive_study = study.for_archive(@current_archive) %>
             Study Title: <%= link_to study.field("docTitle"), "#{archive_study.path.slug}" %> 
             <% unless study.field("stdyAuthEntity").blank? %> by <% study.field("stdyAuthEntity") %>. <% end %> <br/>
             Abstract: <%= first_n_words(30, study.abstract) %> <br/>
             Study Id: <%= study.ddi_id %> <br/>
             Variables: <%= study.variables.size %> <br/>

						Relevance: <%= hit.score %> <br/>

						<%= highlight_excerpt(hit.highlight(:label)) %> <br/>
						<%= highlight_excerpt(hit.highlight(:abstract)) %> <br/>
						<%= highlight_excerpt(hit.highlight(:commment)) %> <br/>
						

           <% for archive_study in study.archive_studies %>
             <% next if archive_study.archive == Archive.ada %>
             <a href="<%= archive_study.path.slug %>"><%= archive_icon(archive_study.archive) %></a>
           <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div id="extended-view">
  extended
</div>

<div id="variables-view">
vars  
</div>
  
<div id="multimedia">
  multimedia
</div>

  <br/>

  <div class="float-centre">
      <%= will_paginate @search.results %>
  </div>

</article>