<% content_for(:sidenav) do %>
  <%= render :partial => 'search_side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	Search: <%= @term %>
<% end %>

<% content_for :js do %>
  $("#studies-link").click(function() {
    $('#study-results').show();
    $('#study-facets').show();
    $('#variable-results').hide();
  	$('#study-items').toggleClass('selected-tab', true);
  	$('#variable-items').toggleClass('selected-tab', false);
  });

  $("#variables-link").click(function() {
    $('#variable-results').show();
    $('#study-results').hide();
  	$('#study-items').toggleClass('selected-tab', false);
  	$('#variable-items').toggleClass('selected-tab', true);
  });
<% end %>

<div id="search-results">
	Term: <%= params[:term] %> <p/>
	
	<% if params[:filters].any? %>
	Filters:
	
		<% params[:filters].each do |facet|
		  facet.each do |name, value| %>
			<%= Study::FACETS[name.to_sym] %> = <%= value %> (<%= link_to '-', request.params %>)
			<% unless facet == params[:filters].last %>, <% end %>
			<% end %>
		<% end %>
	<% end %>


	<div id="tabs">
	  <ul>
	    <li id="study-items" <%= selected_tab_if(['title'], params[:show]) %>> <a id="studies-link">Studies</a> </li>
	    <li id="variable-items" <%= selected_tab_if(['var'], params[:show]) %>> <a id="variables-link">Variables</a> </li>
	  </ul>
	</div>

	<%= render(:partial => "studies") %>
	<%= render(:partial => "variables") %>
</div>
