<nav>
  facet browse goes here
  </br>
</nav>


<p>
  <% if @sphinx.any? %>
    <div id="search_report">
      <% if @sphinx.results[:words].size > 1 %>
      <ul>
        <% @sphinx.results[:words].each do |k,v| %>
          <% if v[:hits].to_i > 0 %>
            <li>
                <em> <%= k %> </em> appeared <%= pluralize(v[:hits], 'time') %> in <%= pluralize(v[:docs], 'document') %>.
            </li>
          <% end %>
        <% end %>
      </ul>
      <% else %>
        <span>
          <em> <%= @term %></em> appeared <%= pluralize(@sphinx.results[:words].first.last[:hits], 'time') %> in <%=pluralize(@sphinx.results[:words].first.last[:hits], 'document') %>.
        </span>
      <% end %>
    </div>
    <% else %>
    <div id="search_report">
      There were no results for <%= @term %>.
    </div>
  <% end %>
<p/>


<% if @sphinx.any? %>
  <div class="float-centre">
      <%= will_paginate @sphinx %>
  </div>
<% end %>

<br/>
<table id="search-results-table" >
  <% for r in @sphinx %>
    <tr>
      <td>
        <% if r.is_a? Study %>
          <div id="study-<%= r.ddi_id %>">
            <% archive_study = r.for_archive(@current_archive) %>
            <% puts "---- #{r.id} ---- \n\n"%>
            Study Title: <%= link_to r.field("docTitle"), "#{archive_study.path.slug}" %>
            <% unless r.field("stdyAuthEntity").blank? %> by <% r.field("stdyAuthEntity") %>. <% end %> <br/>
            Abstract: <%= first_n_words(30, r.abstract) %> <br/>
            Study Id: <%= r.ddi_id %> <br/>

          <% for archive_study in r.archive_studies %>
            <a href="<%= archive_study.path.slug %>"><%= archive_icon(archive_study.archive) %></a>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


<br/>

<% if @sphinx.any? %>
  <div class="float-centre">
      <%= will_paginate @sphinx %>
  </div>
<% end %>
