<% content_for(:sidenav) do %>
  <%= render :partial => 'search_side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	Search: <%= @term %>
<% end %>

<% content_for :js do %>

  $("#studies-link").click(function() {
    $('#study-results').show();
    $('#study-facets').show();
    $('#variable-results').hide();
    $('#variable-facets').hide();
  });

  $("#variables-link").click(function() {
    $('#variable-results').show();
    $('#variable-facets').show();
    $('#study-results').hide();
    $('#study-facets').hide();
  });

<% end %>


	Term: <%= params[:term] %> <p/>
	
	<% if params[:filters].any? %>
	Filters:
	
		<% params[:filters].each do |facet|
		  facet.each do |name, value| %>
			<%= Study::FACETS[name.to_sym] %> = <%= value %>
			<% unless facet == params[:filters].last %>, <% end %>
			<% end %>
		<% end %>
	<% end %>
	
	<% if params[:var_filters].any? %>
		Variable Filters:
	
		<% params[:var_filters].each do |facet|
		  facet.each do |name, value| %>
			<%= name %> = <%= value %>
			<% unless facet == params[:var_filters].last %>, <% end %>
			<% end %>
		<% end %>
	<% end %>

	<div id="search-tabs">
	  <ul>
	    <li> <a id="studies-link">Studies</a> </li>
	    <li> <a id="variables-link">Variables</a> </li>
	  </ul>
	</div>

	<%= render(:partial => "studies") %>
	<%= render(:partial => "variables") %>

