<% content_for(:sidenav) do %>
  <%= render :partial => 'search_side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	Search: <%= @term %>
<% end %>

<% content_for :js do %>
  $("#studies-link").click(function() {
    $('#study-results').show();
    $('#study-facets').show();
    $('#variable-results').hide();
  	$('#study-items').toggleClass('selected-tab', true);
  	$('#variable-items').toggleClass('selected-tab', false);
  });

  $("#variables-link").click(function() {
    $('#variable-results').show();
    $('#study-results').hide();
  	$('#study-items').toggleClass('selected-tab', false);
  	$('#variable-items').toggleClass('selected-tab', true);
  });
<% end %>

<div id="search-results">
  <% if params[:term] %>
	  <%= pluralize params[:term].split(/\W/).length, "Term" %>: <%= params[:term] %>
	  <br/>
  	<% if params[:filters].any? %>
  	Refine search:
	
  		<% params[:filters].each do |facet|
  		  facet.each do |name, value| %>
  			<%= Study::FACETS[name.to_sym] %> = <%= value %> (<%= link_to '-', request.params %>)
  			<% unless name == params[:filters].last %>, <% end %>
  			<% end %>
  		<% end %>
  	<% end %>
  <% else %>
    Search requires a search term.
  <% end %>
  
  <% if current_user %>
    Save: 
  <% end %>

  <br/><br/>

	<div id="tabs">
	  <ul>
	    <li id="study-items" <%= selected_tab_if(['title'], params[:show]) %>> <a id="studies-link">Studies</a> </li>
	    <li id="variable-items" <%= selected_tab_if(['var'], params[:show]) %>> <a id="variables-link">Variables</a> </li>
	  </ul>
	</div>

	<%= render(:partial => "studies") %>
	<%= render(:partial => "variables") %>
</div>
