<tr id="study-<%= study.ddi_id %>">
  <td> <%= link_to study.field("docTitle"), "#{study.for_archive(@current_archive).path.slug}" %> </td>
  <td> <%= study.field("stdyAuthEntity") %> </td>
  <td> <%= study.field("stdyProdDate") %> </td>
  <td>
     <% for archive_study in study.archive_studies %>
       <% next if archive_study.archive == Archive.ada %>
       <a href="<%= archive_study.path.slug %>"><%= archive_icon(archive_study.archive) %></a>
     <% end %>
  </td>
</tr>	
