<% if resource.errors.any? %>
    <h2><%= pluralize(resource.errors.count, "error") %> prohibited this page from being saved:</h2>
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<% semantic_form_for([:staff, resource], :html => { :multipart => true }) do |form| %>

  <fieldset>
    <legend>Upload a document</legend>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.input :archive, :label => 'Main Archive', :include_blank => '(None)' %>
    <%= form.input :title, :input_html => {:size => "50"} %>
    <%= form.file_field :resource %>
    <%= form.commit_button %>
  </fieldset>

<% end %>
