<%= render(:partial => "/staff/shared/resource_errors") %>

<fieldset>
  <legend>Upload a document</legend>

  <% semantic_form_for([:staff, resource], :html => { :multipart => true }) do |form| %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.inputs do %>
      <%= form.input :archive, :label => 'Main Archive', :include_blank => '(None)' %>
      <%= form.input :title, :input_html => {:size => "50"} %>
      <li>
        <label>Document File</label>
        <%= form.file_field :resource %>
      </li>

      <%= form.buttons do %>
        <%= form.commit_button %>
      <% end %>

    <% end %>
  <% end %>
</fieldset>

