<nav class="archive_menu">
  <ul>
  	<li class="social_science"> <%= link_to('social science', '/social-science/home', :title => "Social Science Archive" )%> </li>
    <li class="historical"> <%= link_to('Historical', '/historical/home', :title => "Historical Archive") %> </li>
    <li class="indigenous"> <%= link_to('Indigenous', '/indigenous/home', :title => "Indigenous Archive") %> </li>
    <li class="longitudinal">  <%= link_to('Longitudinal', '/longitudinal/home', :title => "Longitudinal Archive") %> </li>
    <li class="qualitative"> <%= link_to('Qualitative', '/qualitative/home', :title => "Qualitative Archive") %> </li>
    <li class="international">  <%= link_to('International', '/international/home', :title => "International Archive") %> </li>
    <li class="crime_and_justice">  <%= link_to('Crime & Justice', '/crime-and-justice/home', :title => "Crime & Justice Archive") %> </li>  </ul>
</nav>
