<% content_for :sidenav do %>
  <ul>
  	<li id="science"> <%= link_to('social science', '/social-science/home' )%> </li>
    <li id="historical"> <%= link_to('Historical', '/historical/home' )%> </li>
    <li id="indigenous"> <%= link_to('Indigenous', '/indigenous/home' )%> </li>
    <li id="longitudinal">  <%= link_to('Longitudinal', '/longitudinal/home' )%> </li>
    <li id="qualitative"> <%= link_to('Qualitative', '/qualitative/home' )%> </li>
    <li id="international">  <%= link_to('International', '/international/home' )%> </li>
  </ul>
<% end %>