<tr id="study-<%= study.stdy_id %>" class="<%= cycle('', 'alt') %>">
  <td> <%= link_to study.doc_title, study.for_archive(@current_archive).path.slug %> </td>
  <td> <%= study.stdy_auth_entity %> </td>
  <td> <%= study.stdy_prod_date %> </td>
  <td> <%= study.ddi_id %> </td>
  <td>
     <% for archive_study in study.archive_studies %>
       <% next if archive_study.archive == Archive.ada %>
       <a href="<%= archive_study.path.slug %>"><%= archive_icon(archive_study.archive) %></a>
     <% end %>
  </td>
</tr>	
