<tr id="study-<%= study.stdy_id %>" class="<%= cycle('', 'alt') %>">
  <td> 
    <% if hit
      label = hit.highlight(:label) ?  
         (hit.highlight(:label).format { |word| "<span class=\"highlight\">#{word}</span>"}).html_safe : study.label 
      else
        label = study.label 
      end%>
   <%= link_to label, study.for_archive(@current_archive).path.slug %> </td>
  <td> <%= study.stdy_auth_entity %> </td>
  <td> <%= study.period_start.to_s.split("-").first %> - <%= study.period_end.to_s.split("-").first %> </td>
  <td> <%= study.ddi_id %> </td>
  <td>
     <% for archive_study in study.archive_studies %>
       <% next if archive_study.archive == Archive.ada %>
       <a href="<%= archive_study.path.slug %>"><%= archive_icon(archive_study.archive) %></a>
     <% end %>
  </td>
</tr>	
