<tr>
  <td valign="top">
    <fieldset class="search-border">
      <% archive_study = study.for_archive(@current_archive) %>

      <legend><span>Study Title: <%= link_to study.title, archive_study.path.slug %></span></legend>

      <table>
	<tr>
          <td>Variables: <%= study.variables.size %> </td>
          <td>Time Period: <%= study.period_start.to_s.split("-").first %> <%= study.period_end.to_s.split("-").first %> </td>
          <td>Study ID: <%= study.ddi_id %></td>
          <td align="center" valign="middle">
	    <% for archive_study in study.archive_studies
	         next if archive_study.archive == Archive.ada %>
	      <a href='<%= archive_study.path.slug %>'><%= archive_icon(archive_study.archive) %></a>
        <%= link_to archive_study.archive.name, archive_study.path.slug %>
  	      </a>
	    <% end %>
	  </td>
	</tr>
      </table>

      <p><strong>Primary Investigator:</strong> <%= study.stdy_auth_entity %></p>

      <p><strong>Abstract:</strong> 
      <% if hit and hit.highlight(:abstract_text) %>
        <%= highlight_excerpt(hit.highlight(:abstract_text)) %>
      <% else %>
       <%= first_n_words(30, study.abstract_text) %> </p>
      <% end %>

      <% if hit %>
        <p><strong>Search score:</strong> <%= hit.score %></p>
    	<% end %>
    </fieldset>
  </td>
</tr>
