<tr>
	<td valign=top>
		<fieldset class="search-border"> 
      <% archive_study = study.for_archive(@current_archive) %>           
			<legend> Study Title: <%= link_to study.doc_title, archive_study.path.slug %> </legend>

				<table>
					<tr>
						<td>Authoring Entity: <% study.stdy_auth_entity %> </td>
						<td>Year: <%= study.stdy_prod_date %> </td>
						<td>Study ID: <%= study.ddi_id %> </td>						
					</tr>
				</table>
				
        Abstract: <%= line_break_title(first_n_words(30, study.abstract_text), 15).html_safe %> <br/>
        Variables: <%= study.variables.size %> <br/>

				<% if hit %>
					Relevance: <%= hit.score %> <br/>
					<%= highlight_excerpt(hit.highlight(:label)) %> <br/>
					<%= highlight_excerpt(hit.highlight(:abstract_text)) %> <br/>
					<%= highlight_excerpt(hit.highlight(:commment)) %> <br/>				
				<% end %>
				
		</fieldset>
		</td>
		<td width=20% valign=top>
			<table>
				<% i = 0 %>
				<% for archive_study in study.archive_studies 
         	next if archive_study.archive == Archive.ada
					if i == 0 %> 
					<tr>
					<% end 
					i += 1%>
						<td> <a href="<%= archive_study.path.slug %>"><%= archive_icon(archive_study.archive) %></a><br/>
							<%= archive_study.archive.name %>
						</td>
						
					<% if i == 2 %>
						</tr>
					<% i = 0 
						end %>
	      <% end %>
			</table>
		</td>
	</td>
</tr>