<div class="login">
  <% if current_user.nil? %>
    <h1>USER Log-in </h1>
    <%= form_for(:user, :url => new_user_session_path,
                 :html => {:class => 'formtastic', :method => "post"}) do |f| %>
      <input type="submit" alt="Log In" value="LOG IN" id="enter_button" />
      <input type="submit" alt="register" value="register" id="register_button"/>
    <% end %>
  <% else %>
    <form action="<%= logout_path %>" method="get" enctype="multipart/form-data"
	  name="form2" class="formtastic">
      <div class="logged_in">
	<span>
	  <% if request.path =~ /\/staff\// %>
	    <a href="/"><%= image_tag 'icons/world.png' %></a>
	  <% else %>
	    <a href="/staff/home"><%= image_tag 'icons/house.png' %></a>
	  <% end %>
	  <%= current_user.roles.first.name %>:
	</span>
        <%= current_user.email %>
      </div>
      <input type="submit" alt="log out" value="LOG OUT" id="logout_button" />
      <div id="profile_button">
	<%= link_to 'view profile', OPENID_SERVER %>
      </div>
      <% if current_user.searches.any? %>
        <div id="saved-searches">
          <%= link_to 'Saved searches', user_searches_path(current_user) %> 
	  (<span id="save-search-count">
	    <%= link_to current_user.searches.size,
		user_searches_path(current_user) %>
	  </span>)
	</div>
      <% end %> 
    </form>
  <% end %>
</div>
