<% content_for(:breadcrumbs) do %>
	<%= @archive.name %>: Integrations
<% end %>


<table width =80%>
	<tr>
		<th>Integrations <%= link_to "+", new_staff_archive_archive_study_integration_path(@archive) %></th>
		<th>Queries <%= link_to "+", new_staff_archive_archive_study_query_path(@archive) %></th>
		<th>Blocks <%= link_to "+", new_staff_archive_archive_study_block_path(@archive) %></th>
	</tr>	
	<tr>
		<td>
			<ul>
				<% for integration in @archive.archive_study_integrations %>
					<li><%= integration.ddi_id %> <%= link_to 'x', staff_archive_archive_study_integration_path(@archive, integration), :method => :delete %></li>
				<% end %>
			</ul> 
		</td>
	</tr>
	<tr>
		<td>
			<ul>
				<% for query in @archive.archive_study_queries %>
					<li><%= query.name %></li>
				<% end %>
			</ul> 
		</td>
	</tr>
	<tr>
		<td>
			<ul>
				<% for block in @archive.archive_study_blocks %>
					<li><%= block.ddi_id %></li>
				<% end %>
			</ul> 
		</td>
	</tr>
	
</table>