<%= javascript_include_tag :ckeditor, 'ckeditor/clean_apple_style_span' %>

<%= render(:partial => "/staff/shared/resource_errors") %>

<fieldset>
  <legend> 
    <%= params[:action].capitalize %> <%= resource.title unless resource.new_record? %> 
    <%= " (version #{resource.version})" unless resource.new_record? %>
   </legend>

	<%= semantic_form_for([:staff, @archive, resource]) do |form| %>

	  <%= form.hidden_field :user_id, :value => current_user.id %>

	  <%= form.inputs do %>
		  <%= form.input :title %>
		  <%= form.input :keywords %>
		  <%= form.input :archives, :as => :select, :input_html => {:size => 8} %>

		  <%= form.cktext_area :body, :toolbar=>'Medium', :width=>'90%', :height=>'200px' %>
		<% end %>

      <br/>
      <%= form.buttons do %>
        <%= form.commit_button %> 
         <li><%= button_to 'Preview', '#', :method => 'get', :id => 'preview-link' %> </li>
      <% end %>
	<%- end %>
</fieldset>

<div id="preview"></div>

<% content_for :js do %>
  // .:| Page Preview |:. //
  $("#preview-link").click(function(event){
    var title         = $("#news_title").val();
    var body           = CKEDITOR.instances.news_body_editor.getData();    
    var archives      = $.map($('#news_archives_input ol li input'), function(i) { if (i.checked) return i.value; else return null; });
    $.post(
	'<%= staff_news_preview_path(resource.id||0) %>', {news: {title: title, body: body, archives: archives}},
        function update_preview_pane(html){
          $("#preview").html(html);
        }
      );
    event.preventDefault();
  });
<% end %>
