<%= javascript_include_tag :ckeditor %>

<% if resource.errors.any? %>
    <h2><%= pluralize(resource.errors.count, "error") %> prohibited this page from being saved:</h2>
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= semantic_form_for([:staff, @archive, resource], :html=>{:class=>'titled'}) do |form| %>

  <fieldset>
    <legend>News information</legend>
    <div class="half">
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <%= form.input :title, :input_html => {:size => "50"} %>
      <%= form.input :keywords, :input_html => {:size => "50"} %>
    </div>
    <div class="half">
      <%= form.input :archives, :as => :check_boxes %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Content</legend>
    <%= form.cktext_area :body, :toolbar=>'Full', :width=>'90%', :height=>'200px' %>
  </fieldset>

  <h3>Actions</h3>
  <%- form.buttons do -%>
    <%= form.commit_button %>
    <%= content_tag(:li, content_tag(:a, "Preview", :id => "preview-link", :href => "#")) %>
  <%- end -%>

<% end %>
