<h2>ADA News</h2>

<fieldset class="left half">
  <legend> News Item Tasks </legend>
  There are no current News Tasks
</fieldset>

<fieldset class="left half">
  <legend>Newsletter Management </legend>
  Create Newsletter
</fieldset>

<fieldset>
  <legend>News Item Management (<%= link_to '+', new_staff_news_path %>)</legend>
  <table>
    <thead>
      <tr>
        <th>News Item</th>
        <th>Archives</th>
        <th>Created</th>
        <th>Published after</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%- @recent_news.each do |news| %>
      <tr id=<%= "newsrow-#{news.id}" %>>
        <td> <%= news.title %> </td>
        <!-- Need a helper here: -->
        <td> <%= raw(news.news_archives.map{|na| h(na.archive.name)}*'</br>') %> </td>
        <td> <%= time_ago_in_words(news.created_at) %> ago </td>
        <td> <%= news.publish_at && news.publish_at.strftime("%a, %b %e at %l:%M") %> </td>
        <td>
          <%= link_to 'View', staff_news_path(news) %>
          <%= link_to 'Edit', edit_staff_news_path(news) %>
          <%= link_to 'Delete', staff_news_path(news), :method => :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
