<% if resource.errors.any? %>
    <h2><%= pluralize(resource.errors.count, "error") %> prohibited this integration from being saved:</h2>
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<br/>
  <%= link_to 'Return to Integrations', staff_archive_integrations_path(@archive) %>
<br/>
<br/>


<%= semantic_form_for([:staff, @archive, @archive_study_query]) do |form| %>
  <%= form.hidden_field :archive_id, :value => @archive.id %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.input :name %>
  <%= form.input :query, :input_html => {  :cols => 50, :rows => 3 } %>
	<%= form.commit_button %>
<% end %>

