<aside>
<% feed = get_atom_feed(@current_archive) %>
 <h2> <%= link_to image_tag("icons/feed.png", :align => "top"), "#{feed.urn}?format=atom" %> Recent News </h2>
 <%= render(:partial => 'pages/archive_studies', :object => @archive_studies) %> 
 <%= render(:partial => 'pages/archive_news', :object => @archive_news)%>
</aside>

<%= @page.body.html_safe %>

<% news_items = @page.archive.archive_news.recent %>
<% if news_items.size > 0 %>
  <% news_items.each do |archive_news| news = archive_news.news %>
      <article>
        <h3><%= news.title %></h3>
        <p><%= news_snippet(news) %></p>
        <p><%= link_to "Read more...", archive_news.urn %></p>
      </article>
  <% end %>
<% else %>
    (No news for <%= @page.archive.name %> Archive)
<% end %>
