<li id="menu-options-<%= menu_item.id %>">
  
  <% if menu_item.content.is_a? Page %>
    <%= image_tag('icons/page.png') %>
    <span><%= menu_item.title %></span>  
    
    <span id="content-controls">
      <%= link_to 'Public View', menu_item.link %>, 
      <%= link_to 'Edit', edit_staff_archive_page_path(menu_item.archive, menu_item.content) %>,  
      <%= link_to 'Delete', staff_archive_page_path(menu_item.archive, menu_item.content), :method => :delete %> 
    </span>

  <% else %>
    <%= image_tag('icons/link.png') %>
    <span><%= menu_item.title %></span> 

    <span id="content-controls">
      <%= link_to "Visit", menu_item.link, :target => "_blank" %>, 
      <%= link_to 'Edit', edit_staff_archive_menu_item_path(menu_item.archive, menu_item) %>,  
      <%= link_to 'Delete', staff_archive_menu_item_path(menu_item.archive, menu_item), :method => :delete %>
    <span id="page-controls">
  <% end %>

    <% if menu_item.children %>
      <ul class="sortable">
	      <%= render(:partial => "menu_item", :collection => menu_item.children) %> 
      </ul>
    <% end %>
</li>