<li id="<%= page.id %>" class="tree-item">
  <span><a href class="drag"> <% if page.parent %> &nbsp; <% end %> <%= page.title %> </a></span> 

  <%= link_to 'Public View', page.path.slug %>, 
  <%= link_to 'Show', staff_page_path(page) %>, 
  <%= link_to 'Edit', edit_staff_page_path(page) %>,  
  <%= link_to 'Delete', staff_page_path(page), :method => :delete %> 

  <% if page.children %>
    <ul>
      <%= render(:partial => "page", :collection => page.children) %> 
    </ul>
  <% end %>
</li>
