<% content_for(:breadcrumbs) do %>
  Archives: <%= @archive.name %>
<% end %>

<%= render_archive_partial(@archive) %>

<fieldset id="page-management">
  <legend> Page Management (<%= link_to "+", new_staff_archive_page_path(:archive_id => @archive) %>)</legend>
  <p>
    Pages: <%= Page.find_all_by_archive_id(@archive).size%>
  </p>

  <ul class="sortable">
    <%= render(:partial => "page", :collection => @parent_pages) %>
  </ul>
</fieldset>

<% content_for :js do %>
  var top_item = $('.sortable > li')[0].id;
  $( ".sortable" ).sortable({
    update: function(event, ui){
      var moved = $(ui.item).attr("id");
      var page_order = $(this).sortable('toArray').toString();
      var re = new RegExp(","+top_item);
      if (re.test(page_order)) {
	$(this).sortable('cancel');
	alert("Please don't move the home page from the first position!");
      } else
	$.post("/staff/archives/update_page_order?archive_id=<%= @archive %>", {page_order: page_order, moved: moved});
    }
  });
<% end %>
