<% content_for(:breadcrumbs) do %>
  Archives: <%= @archive.name %>
<% end %>

<%= render_archive_partial(@archive) %>

<fieldset id="page-management">
  <legend> Public Menu: Page (<%= link_to "+", new_staff_archive_page_path(:archive_id => @archive) %>) Link (+)</legend>

menu items
  <ul class="sortable">
    <%= render(:partial => "menu_item", :collection => @parent_menu_items) %>
  </ul>

  <p>
    Pages: <%= Page.find_all_by_archive_id(@archive).size%>
  </p>

  <ul class="sortable">
    <%= render(:partial => "page", :collection => @parent_pages) %>
  </ul>
  
</fieldset>

<% content_for :js do %>
  $( ".sortable" ).sortable({
    update: function(event, ui){
      var moved = $(ui.item).attr("id");
      var page_order = $(this).sortable('toArray').toString();
			$.post("/staff/archives/update_page_order?archive_id=<%= @archive %>", {page_order: page_order, moved: moved});
		}
  });
<% end %>
