<% content_for(:breadcrumbs) do %>
	Archives: <%= @archive.nil? ? "ADA" : @archive.name %>
<% end %>

Pages: <%= @pages.size %> <br/>
<br/>

<%= link_to "Add a page", new_staff_page_path(:archive => @archive) %> 
<p>
<h2>Page Management</h2>
</p>


<ul class="sortable">
	<%= render(:partial => "page", :collection => @parent_pages) %>
</ul>

<% content_for :js do %>
	$( ".sortable" ).sortable({
		update: function(event, ui){
			var moved = $(ui.item).attr("id");
			var page_order = $(this).sortable('toArray').toString();
		  $.post("/staff/archives/update_page_order?archive_id=<%= @archive %>", {page_order: page_order, moved: moved});
		}
	});

<% end %>
