<% content_for(:breadcrumbs) do %>
	Archives: <%= @archive.name %>
<% end %>

Pages: <%= @archive.pages.size %> <br/>
<%= link_to "Add a page", new_staff_page_path(:archive_id => @archive.id) %> 
<p>
<h2><%= @archive.name %> Page Management</h2>
</p>

<%= @parent_pages.size %>

<ul id="tag-tree">
  <%= render(:partial => "page", :collection => @parent_pages) %>
</ul>



<% content_for :js do %>
  <% javascript_tag do %>

    // shows the content form
    function toggle_content_form(id){
    content_form = document.getElementById("content-form-" + id)
//    content_form = $("#content-form-" + id)

    if (content_form.style.display == "none")
      content_form.style.display = "block"
    else
      content_form.style.display = "none"
    }
  <% end %>
<% end %>
