<% content_for(:breadcrumbs) do %>
	Archives: <%= @archive.name %>
<% end %>

Pages: <%= @archive.pages.size %> <br/>
<%= link_to "Add a page", new_staff_page_path(:archive_id => @archive.id) %> 
<p>
<h2><%= @archive.name %> Page Management</h2>
</p>


<ul id="tag-tree">
	<%= render(:partial => "page", :collection => @parent_pages) %>
</ul>
