<% content_for(:breadcrumbs) do %>
	Archives: <%= @archive.name %>
<% end %>

Pages: <%= @archive.pages.size %> <br/>
<%= link_to "Add a page", new_staff_page_path(:archive_id => @archive.id) %> 
<p>
<h2><%= @archive.name %> Page Management</h2>
</p>


<ul id="tag-tree">
	<%= render(:partial => "page", :collection => @parent_pages) %>
</ul>

<script>
$(function() {

	$( ".sortable" ).sortable({
		update: function(event, ui){
			var dropElemTxt = $(ui.item).text();
			var foo = $(ui.item).attr("id");
			var pages_order = $(this).sortable('toArray').toString();
		  $.post("/staff/archives/update_page_order?archive_id=<%= @archive.id ? @archive.id : '' %>", {pages_order: pages_order});
		}
	});
	
	$( "#sortable" ).disableSelection();
});
</script>


<div class="demo">

<ul class="sortable">
	<li><span class="sort-item"></span>Item 1</li>
	<li><span class="sort-item"></span>Item 2</li>
	<li><span class="sort-item"></span>Item 3</li>
	<li><span class="sort-item"></span>Item 4</li>
	<li><span class="sort-item"></span>Item 5</li>
	<li><span class="sort-item"></span>Item 6</li>
	<li><span class="sort-item"></span>Item 7</li>
</ul>

</div><!-- End demo -->


<div class="mockup">

<ul class="sortable">
	<li id="1-1">Foo 1</span></li>
	<li id="1-1">Foo 2</span></li>
</ul>

</div><!-- End demo -->
