<% content_for(:breadcrumbs) do %>
	Archives: <%= @archive.name %>
<% end %>

  <fieldset>
    <legend> Integrations </legend>
  <ul class="menu task-panes">
        <li>
<%= link_to 'Integrations', staff_archive_integrations_path(@archive) %> (Studies: <%= @archive.archive_studies.size %> / Blocks: <%= @archive.archive_study_blocks.size %> / Integrations: <%= @archive.archive_study_integrations.size %> / Queries: <%= @archive.archive_study_queries.size %>)
        </li>
  </ul>
</fieldset>

<fieldset>
  <legend> Page Management </legend>

  </p>
  Pages: <%= @pages.size %> <br/>
  <br/>

  <%= link_to "Add a page", new_staff_archive_page_path(:archive_id => @archive) %> 


  <ul class="sortable">
  	<%= render(:partial => "page", :collection => @parent_pages) %>
  </ul>
</fieldset>

<% content_for :js do %>
	$( ".sortable" ).sortable({
		update: function(event, ui){
			var moved = $(ui.item).attr("id");
			var page_order = $(this).sortable('toArray').toString();
		  $.post("/staff/archives/update_page_order?archive_id=<%= @archive %>", {page_order: page_order, moved: moved});
		}
	});

<% end %>

