<%= javascript_include_tag :ckeditor %>

<% if resource.errors.any? %>
    <h2><%= pluralize(resource.errors.count, "error") %> prohibited this page from being saved:</h2>
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<div id="summary" class="content-area">
  <h2>
    Archive: <%= @archive.name %>
  </h2>
 
  <h3>Metadata</h3>

  <%= semantic_form_for([:staff, :archives: resource]) do |form| %>
    <%= form.hidden_field :archive_id, :value => @archive.id %>
    <%= form.hidden_field :author_id, :value => current_user.id %>
    <%= form.inputs :id => "form_meta" do %>

      <%= form.input :parent, :as => :select, :collection => @pages %>
      <%= form.input :title, :input_html => {:size => "50"} %>
      <li class="string optional">
        <label for="page_path">Path</label>
        <input type="text" id="page_path" value="" size="50" disabled="disabled" />
      </li> 

      <li class="string optional">
        <label for="page_author">Author</label>
        <input id="page_author" maxlength="255" 
               name="page[author]" size="50" 
               type="text" value="<%= current_user.email %>" disabled="disabled" />
      </li> 
    <% end %>

    <%= form.inputs :id => "form_layout" do %>
      <%= form.input :partial, :as => :radio, :collection => {
         "Default" => "/pages/default_page", "Home" => "/pages/home_page", "Breakout Page" => "/pages/breakout_page"
         }, :include_blank => false, :label => "Template " %>
    <% end %>

    <h3>Body</h3>
    <%= form.inputs do %>
      <%= form.cktext_area :body, :toolbar=>'Full', :width=>'90%', :height=>'200px' %>
    <% end %>

    <div id="breakout" style="display:none">
      <h3>Breakout Box:</h3>
      <%= form.inputs do %>
          <%= form.cktext_area :breakout_box, :toolbar=>'Full', :width=>'90%', :height=>'100px' %>
      <% end %>
    </div>

    <h3>Actions</h3>
    <%- form.buttons do -%>
      <%= form.commit_button %>
      <%= content_tag(:li, content_tag(:a, "Preview", :id => "preview-link", :href => "#")) %>
    <%- end -%>

  <% end %>
</div>

<div id="preview"></div>

<% content_for :js do %>

// .:| Page Slug |:. //

  var pageSlug = {
    update: function(element) {
      title_text = $("#page_title").val();
      parent_page_id = $("#page_parent_id").val();
      $.post("/staff/pages/sluggerize_path?archive_id=<%= (@archive.nil? ? nil : @archive.id) %>",
             {title: title_text, parent: parent_page_id},
             function(slug){
               $("#page_path").val(slug.data)
             });
    }
  }

  // .:| Update Page Slug on Events |:. //

  window.onload = pageSlug.update
  $("#page_title").live("keyup", pageSlug.update);
  $("#page_parent_id").change(pageSlug.update);

  // .:| Page Preview |:. //
  
  $("#preview-link").click(function(event){
    var title         = $("#page_title").val();
    var partial       = $("input:radio[name=page[partial]]:checked").val();
    var body           = CKEDITOR.instances.page_body_editor.getData();    
    var breakout_box   = CKEDITOR.instances.page_breakout_box_editor.getData();  
    $.post("/staff/pages/preview?archive_id=<%=  (@archive.nil? ? nil : @archive.id) %>", {page: {title: title, partial: partial, body: body, breakout_box: breakout_box}},
        function update_preview_pane(html){
          $("#preview").html(html);
        }
      );
    event.preventDefault();
  });

  // .:| Reveal Breakout Editor |:. //

  $("input:radio[name=page[partial]]").change(function(event){
    current_partial = $("input:radio[name=page[partial]]:checked").val();
    if (current_partial === "/pages/breakout_page") {
      $("#breakout").show();
    }
    else {
      $("#breakout").hide();      
    }
  });

  
  $("#page_parent_id").change(function(event){
    title_text = $("#page_title").val()
    parent_page_id = $("#page_parent_id").val()

    $.post("/staff/pages/sluggerize_path?archive_id=<%=  (@archive.nil? ? nil : @archive.id) %>", {title: text, parent: parent_page_id},
        function(slug){
          $("#page_path").html(slug.data)
        }
      );
    
  });

<% end %>
