<%= javascript_include_tag :ckeditor %>

<% content_for :js do %>

	$("#page_title").change(function(event){
		text = $(this).val()
		parent_page_id = $("#page_parent_id").val()

		$.post("/staff/pages/sluggerize_path?archive_id=<%= @archive.id ? @archive.id : '' %>", {title: text, parent: parent_page_id}, 
				function(slug){
					$("#page_path").html(slug.data)
				}
			);
	});
	
	$("#page_partial").change(function(event){
		current_partial = $("#page_partial").val();
		if (current_partial === "/pages/breakout_page") {
			$("#breakout").show();
		}
		else {
			$("#breakout").hide();			
		}
	});
	
<% end %>

<% if resource.errors.any? %>
    <h2><%= pluralize(resource.errors.count, "error") %> prohibited this page from being saved:</h2>
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<h1>
  Archive: <%= (@archive.nil? ? "ADA" : @archive.name)%>
</h1>

<%= semantic_form_for([:staff, resource]) do |form| %>

  <%= form.hidden_field :archive_id, :value => (@archive.nil? ? nil : @archive.id) %>
  <%= form.hidden_field :author_id, :value => current_user.id %>

  <%= form.inputs :id => "form_meta" do %>
    <%= form.input :title %>
    <%= form.input :parent, :as => :select, :collection => @pages %></td>

    <li class="string optional">
      <label for="page_author">Author</label>
      <input id="page_author" maxlength="255" 
             name="page[author]" size="50" 
             type="text" value="<%= current_user.email %>" disabled="disabled" />
    </li> 

  <% end %>

  <%= form.inputs :id => "form_layout" do %>

    <li class="string optional">
      <label for="page_path">Path</label>
      <div id="page_path"></div>
    </li> 
		<li>
		   <%= form.input :partial, :as => :select, :collection => {
		     "Default" => "/pages/default_page", "Home" => "/pages/home_page", "Breakout Page" => "/pages/breakout_page"
		     }, :include_blank => false, :label => "Template " %>
		 		<% end %>
		</li>

  <%= form.inputs :id => "form_content" do %>
    <h3 style="margin-top:1em">Body:</h3>
    <%= form.cktext_area :body, :toolbar=>'Full', :width=>'90%', :height=>'200px' %>
		
		<div id="breakout" style="display:none">
	    <h3 style="margin-top:1em">Breakout Box:</h3>
	    <%= form.cktext_area :breakout_box, :toolbar=>'Full', :width=>'90%', :height=>'100px' %>
		</div>
  <% end %>

  <%= form.buttons %>
<% end %>


