<%= javascript_include_tag :ckeditor %>

<% if resource.errors.any? %>
    <h2><%= pluralize(resource.errors.count, "error") %> prohibited this page from being saved:</h2>
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>



<% semantic_form_for([:staff, resource]) do |form| %>
	<%= form.hidden_field :author_id, :value => current_user.id %>
	<table summary="page creation for archive or ADA" border=1 width = 100%>
		<tr>
			<td width=50%><%= form.input :title %></td> 
			<td width=50%>Path: </td>
		</tr>
		<tr>
			<td colspan=3>
				<table width = 100%>
					<tr>
						<td width=33%><%= (@archive.nil? ? "ADA" : @archive.name)%> </td>
						<td width=33><%= form.input :parent, :as => :select, :collection => @pages %></td>
						<td width=33><%= form.input :partial, :as => :select, :collection => {"Default" => "default", "Home" => "home"}, :include_blank => false, :label => "Template " %></td>			
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan = 2> Author: (You) <%= current_user.email %> </td>
		</tr>
		<tr>
			<td colspan=2>
				<br/>
			  <%= form.cktext_area :body, :toolbar=>'Full', :width=>'80%', :height=>'200px' %>
			</td>

			<tr>
				<td colspan=2>
				  <% form.buttons do %>
				    <%= form.commit_button %>
			    <li class="button cancel"> 
			      <a href="<%= request.path %>">Cancel</a> 
			    </li>
				  <% end %>				
				</td>
			</tr>
		</tr>
	</table>
<% end %>



<br/><br/><br/><br/><br/><br/><br/><br/><br/>

Path: <%= resource.path.slug unless resource.new_record? %>

<% if @archive %>
	Archive: <%= @archive.name %>
<% else %>
ADA: 
<% end %>

Parent:
