<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>- Australian Data Archive -  <%= @title %> </title>
		<!-- Include this BEFORE the body to ensure older browsers can read new html5 elements -->
    <%= stylesheet_link_tag "import" %>
    <%= csrf_meta_tag %>
		<%= javascript_include_tag 'modernizr-1.5.min', 'jquery.min', 'rails', 'jquery.effects.core', 'scripts', 'theme', 
		'jquery.clearableTextField.min' %>	


	 <link type="text/css" rel="stylesheet" href="/javascripts/solr-autocomplete/jquery-autocomplete/jquery.autocomplete.css" />
			
	</head
			
    <body id="<%= archive_css(@current_archive) %>">
		<header>
			<div class="login">
				<% if current_user.nil? %>
					<h1>USER Log-in </h1>
					<%= form_for(:user, :url => new_inkling_user_session_path, :html => {:class => 'formtastic', :method => "post"}) do |f| %>
						<input type="text" name="inkling_user[email]" id="login_name"/>
						<input type="password" name="inkling_user[password]" id="login_pass"/>
						<input type="image" alt="Log In" id="enter_button" src="/images/structure/bttn_enter.png"/>
					<% end %>
				<% else %>
						<%= link_to('Sign Out', logout_path) %>
				<% end %>
			</div>
			<div class="masthead"><a href="/ada/home">Australian Data Archive</a></div>
	</header>

	<nav class="mainnav clearfix">
	  <ul>
			<% for page in @ada_parent_pages %>
				<li> <%= link_to(page.title, page.path.slug) %> 
					<% if page.children.any? %>
						<ul>
								<% for child in page.children %>									
									<li> <%= link_to(child.title, child.path.slug)%> </li>
								<% end %>
						</ul
					<% end %>
				</li>
			<% end %>
     </ul>
		  <div class="searchContainer">
		    <form action="/search" method="get" id="search-form" class="formtastic">
		      <label for="menusearch"></label>
		      <input type="text" name="term" id="search_term" value="Search this site"/>
		
		      <input type="hidden" name="archive_id" id="archive_id" value="<%= @current_archive.id %>"/>
         <input type="image" alt="Go" id="search_button" src="/images/structure/bttn_go.png"/>
	        </form>
	      </div>
  </nav>

		<nav class="subnav">
	    <% if @current_archive != Archive.ada %>
				<ul>
					<li><p><%= @current_archive.name %></p></li>
					<% for page in Page.archive_root_pages(@current_archive)  %>
						<% if page.title == @title %>
							<li id=<%= "#{@page.archive.slug.underscore}_current" %> >
						<% else %>
						<li>
						<% end %>
						 	<%= link_to(page.title, page.path.slug )%>
						</li>
					<% end %>
			  </ul>
			<% end %>
		</nav>

        
		<nav class="breadcrumbs">
			<p><strong>YOU ARE HERE:</strong><a href="<%= request.path %>"> <%= yield(:breadcrumbs) %></a></p>
		</nav>		
    <section class="content">

		<nav>
		  <%= yield :sidenav %> 
		</nav>      

  	<div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

  	<!-- page partial start -->
  	<%= yield %>
  	<!-- page partial end -->

</section>
        
		<section class='partners'>
<div class="captions">
				<p>Funding Partners </p>
				<p>Collaboration Partners</p>
		  </div>
			
            <div class="logos">
				<img src="/images/content/logo_arc.gif" alt="logo_arc" width="90" height="56" class="partnersFirst"/>
				<img src="/images/content/logo_ncr.gif" alt="logo_nrc" width="109" height="56"/>
				<img src="/images/content/logo_anu.gif" width="90" height="56" alt="Logo_anu"/>
				<img src="/images/content/logo_uwa.gif" width="114" height="56" alt="logo_uwa"/>
				<img src="/images/content/logo_uts.gif" width="110" height="56" alt="logo_uts"/>
				<img src="/images/content/logo_um.gif" width="110" height="56" alt="logo_um"/>
				<img src="/images/content/logo_uq.gif" width="110" height="56" alt="logo_uq"/>
			</div>
		</section>
		<footer>
		  <p>General Enquiries: <a href="#">assda@anu.edu.au</a></p>
		  <p>Web Enquiries: <a href="#">webmaster@assda.anu.edu.au</a></p>
		  <p>This page was last updated on Tuesday the 27th of April 2010 at 11:07am.</p>
		  <p> &#xA9; Australian Data Archive</p>
    </footer>
    </body>
    
    <script type="text/javascript">
      $(document).ready(function(){
      <%= yield :js %>
     });
    </script>
    
</html>
