<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>- Australian Data Archive -  <%= @title %> </title>
    <%= stylesheet_link_tag "reset", "common", "structure", "navigation", "clearfix", "formtastic", 
    			"formtastic_changes", "dropdown", "colour", "jquery-explr-1.3.min", 
    			"jquery-ui-1.8.9.custom/jquery-ui-1.8.9.ada", "theme", :cache => "ada" %>
    <%= javascript_include_tag 'modernizr-1.5.min', 'jquery.min', 'rails', 'jquery.effects.core', 'scripts', 'application',
    		'jquery-explr-1.3.min', 'jquery.multi-open-accordion-1.0.1-ada', :cache => "ada" %>

    <%= csrf_meta_tag %>	
	</head>

	<!--[if lt IE 7 ]> <body class="ie6 <%= archive_css(@current_archive) %>"> <![endif]-->
	<!--[if IE 7 ]>    <body class="ie7 <%= archive_css(@current_archive) %>"> <![endif]-->
	<!--[if IE 8 ]>    <body class="ie8 <%= archive_css(@current_archive) %>"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <body class="<%= archive_css(@current_archive) %>"> <!--<![endif]-->


		<header>
			<%= render(:partial => "/shared/user_panel") %>
			<div class="masthead"><a href="/ada/home">Australian Data Archive</a></div>
	</header>

	<nav class="mainnav clearfix">
	  <ul>
			<% for menu_item in @ada_menu_items %>
				<li> <%= link_to(menu_item.title, menu_item.link, :class => menu_item_class(menu_item.title)) %>
					<% if menu_item.children.any? %>
						<ul>
						  <% for child in menu_item.children %>									
								<li> <%= link_to(child.title, child.link) %> </li>
						  <% end %>
						</ul>
					<% end %>
				</li>
			<% end %>
     </ul>
		  <div class="searchContainer">
		    <form action="/search" method="get" id="search-form" class="formtastic">
		      <label for="menusearch"></label>
		      <input type="text" name="term" id="search_term" value="Search this site"/>
		
		      <input type="hidden" name="archive_id" id="archive_id" value="<%= @current_archive.id %>"/>
					<input type="submit" alt="Go" value="go" id="search_button"/>
	      </form>
	    </div>	
  </nav>

		<nav class="subnav">
	    <% if @current_archive != Archive.ada %>
				<ul>
					<li><p><%= @current_archive.name %></p></li>
					<% for menu_item in MenuItem.archive_root_menu_items(@current_archive)  %>
						<% if menu_item.title == @title %>
							<li class=<%= "#{@page.archive.slug.underscore}_current" %> >
						<% else %>
						<li>
						<% end %>
						 	<%= link_to(menu_item.title, menu_item.link )%>
						</li>
					<% end %>
			  </ul>
			<% end %>
		</nav>

        
		<nav class="breadcrumbs">
			<p><strong>YOU ARE HERE:</strong><a href="<%= request.path %>"> <%= yield(:breadcrumbs) %></a></p>
		</nav>		
    <section class="content">

		 <%= yield :sidenav %>     

  	<div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

  	<!-- page partial start -->
		<section class="main">
  		<%= yield %>
		</section>
  	<!-- page partial end -->

</section>
        
		<section class="partners<%= ' small' unless subarchive_home_page? %>">
<div class="captions">
				<p>Funding Partners </p>
				<p>Collaboration Partners</p>
		  </div>
			
    <div class="logos">
				<img src="/images/content/logo_arc.gif" alt="logo_arc" width="90" height="56" class="partnersFirst"/>
				<img src="/images/content/logo_ncr.gif" alt="logo_nrc" width="109" height="56"/>
				<img src="/images/content/logo_anu.gif" width="90" height="56" alt="Logo_anu"/>
				<img src="/images/content/logo_uwa.gif" width="114" height="56" alt="logo_uwa"/>
				<img src="/images/content/logo_uts.gif" width="110" height="56" alt="logo_uts"/>
				<img src="/images/content/logo_um.gif" width="110" height="56" alt="logo_um"/>
				<img src="/images/content/logo_uq.gif" width="110" height="56" alt="logo_uq"/>
			</div>
		<footer class="footer_small">
		  <p>General Enquiries: <a href="#">assda@anu.edu.au</a></p>
		  <p>Web Enquiries: <a href="#">webmaster@assda.anu.edu.au</a></p> 
		  <p> &#xA9; Australian Data Archive</p>
      <p><em><%= deploy_log %></em></p>
    </footer>
	</section>

  </body>

    <script type="text/javascript">
      $(document).ready(function(){
      <%= yield :js %>
     });
    </script>
    
</html>
