<%= javascript_include_tag :ckeditor, 'ckeditor/clean_apple_style_span' %>

<%= render(:partial => "/staff/shared/resource_errors") %>

<% unless resource.new_record? or resource.published? %> 
  <fieldset class="left half">
      <legend>Approvals</legend>
      <% if resource.draft? %> 
        This page is waiting for publishing approval.
        <% if current_user.can_approve? %>
          <%= link_to 'Approve?', publish_staff_archive_page_path(@archive, resource), 
              :method => "post", :confirm => "Are you sure?" %> 
        <% end %>
      <% else %>
      Published.
      <% end %>
  </fieldset> 
<% end %>

<br>

<fieldset>
  <legend>
    <%= workflow_icon(resource) %>
    <%= params[:action].capitalize %> <%= resource.title unless resource.new_record? %> in <%= @archive.name %>
    <%= " (version #{resource.version})" unless resource.new_record? %>
  </legend>

  <%= semantic_form_for([:staff, @archive, resource]) do |form| %>
    <%= form.hidden_field :archive_id, :value => @archive.id %>
    <%= form.hidden_field :author_id, :value => current_user.id %>

    <%= form.inputs do %>
	    <% if resource.new_record? %>
	      <li class="string optional">
	        <label for="page_archive">Archive</label>
	        <select  disabled="disabled">
	          <option id="page_archive" value ="<%= @archive.id %>"><%= @archive.name %></option>
	        <select>
	      </li> 
	    <% else %>
	    	<%= form.input :archive, :as => :select, :collection => @archives, :include_blank => false %>
	    <% end %>
	
      <%= form.input :parent, :as => :select, :collection => @pages %>

      <%= form.input :title, :input_html => {:size => "50"} %>

      <li class="string optional">
        <label for="page_path">Path</label>
        <input type="text" id="page_path" value="" size="50" disabled="disabled" />
      </li> 

      <%= form.input :partial, :as => :select, :collection => Page::PARTIALS,
        :include_blank => false, :label => "Template " %>

      <li class="string optional">
        <% if resource.new_record? %>
          <label for="page_author">Author</label>
        <% else %>
          <label for="page_author">Last edited by</label>
        <% end %>

        <input id="page_author" name="page[author]" size="50" 
               type="text" value="<%= current_user.email %>" disabled="disabled" />
      </li> 
    <% end %>

    <%= form.inputs :editors do %>

		 <label for="page_body">Main Text</label>
     <%= form.cktext_area :body, :toolbar=>'Medium', :width=>'90%', :height=>'200px', 
						:ckeditor_options => {:filebrowserBrowseUrl => browse_staff_archive_pages_path} %>
     <% end %>

	   <% if resource.breakout_box.blank? %>
	     <span id="breakout" class="concealed">
	   <% else %>
	     <span id="breakout">
	   <% end %>
	
		 		<label for="page_body"><p>Breakout Box<p/></label>
	    	<%= form.cktext_area :breakout_box, :toolbar=>'Medium', :width=>'90%', :height=>'100px' %>
    	</span>

      <br/>
      <%= form.buttons do %>
        <%= form.commit_button %> 
         <li class="commit"><%= button_to 'Preview', '#', :method => 'get', :id => 'preview-link' %> </li>
      <% end %>
  <% end %>
</fieldset>

<br>
<section id="preview">
</section>


<% content_for :js do %>

CKEDITOR.on( 'dialogDefinition', function( ev )
	{
		// Take the dialog name and its definition from the event data.
		var dialogName = ev.data.name;
		var dialogDefinition = ev.data.definition;
 
		// Check if the definition is from the dialog we're
		// interested on (the Link dialog).
		if ( dialogName == 'link' )
		{
			// FCKConfig.LinkDlgHideAdvanced = true
			dialogDefinition.removeContents( 'advanced' );
			dialogDefinition.removeContents( 'Upload' );
 
			// FCKConfig.LinkDlgHideTarget = true
			dialogDefinition.removeContents( 'target' );
/*
Enable this part only if you don't remove the 'target' tab in the previous block.
 
			// FCKConfig.DefaultLinkTarget = '_blank'
			// Get a reference to the "Target" tab.
			var targetTab = dialogDefinition.getContents( 'target' );
			// Set the default value for the URL field.
			var targetField = targetTab.get( 'linkTargetType' );
			targetField[ 'default' ] = '_blank';
*/
		}
 
		if ( dialogName == 'image' )
		{
			// FCKConfig.ImageDlgHideAdvanced = true	
			dialogDefinition.removeContents( 'advanced' );
			dialogDefinition.removeContents( 'Upload' );
			// FCKConfig.ImageDlgHideLink = true
			dialogDefinition.removeContents( 'Link' );
		}
 
		if ( dialogName == 'flash' )
		{
			// FCKConfig.FlashDlgHideAdvanced = true
			dialogDefinition.removeContents( 'advanced' );
		}
 
	});



// .:| Page Slug |:. //

  var pageSlug = {
    update: function(element) {
      title_text = $("#page_title").val();
      parent_page_id = $("#page_parent_id").val();
      $.post("/staff/archives/pages/sluggerize_path?archive_id=<%= (@archive.slug) %>",
             {title: title_text, parent: parent_page_id},
             function(slug){
               $("#page_path").val(slug.data)
             });
    }
  }

  // .:| Update Page Slug on Events |:. //

  $(pageSlug.update);
  $("#page_title").live("keyup", pageSlug.update);
  $("#page_parent_id").change(pageSlug.update);

  // .:| Page Preview |:. //
  
  $("#preview-link").click(function(event){
    var title         = $("#page_title").val();
    var partial       = $("#page_partial option:selected").val();
    var body           = CKEDITOR.instances.page_body_editor.getData();    
    var breakout_box   = CKEDITOR.instances.page_breakout_box_editor.getData();  
    $.post("/staff/archives/pages/preview?archive_id=<%=  (@archive.slug) %>", {page: {title: title, partial: partial, body: body, breakout_box: breakout_box}},
        function update_preview_pane(html){
          $("#preview").html(html);
        }
      );
    event.preventDefault();
  });

  // .:| Reveal Breakout Editor |:. //

  $("input:select[name=page[partial]]").change(function(event){
    current_partial = $("input:radio[name=page[partial]]:checked").val();
    if (current_partial === "/pages/breakout_page") {
      $("#breakout").show();
    }
    else {
      $("#breakout").hide();      
    }
  });

  
  $("#page_parent_id").change(function(event){
    title_text = $("#page_title").val()
    parent_page_id = $("#page_parent_id").val()

    $.post("/staff/archives/pages/sluggerize_path?archive_id=<%=  (@archive.slug) %>", {title: text, parent: parent_page_id},
        function(slug){
          $("#page_path").html(slug.data)
        }
      );
  });

<% end %>
