<script type="text/javascript">
  var upload_path = "<%=raw ckeditor_attachment_path(:documents) %>";

  function setUrl(url)
  {
    CKEDITOR.tools.callFunction(CKEditorFuncNum, url);
    window.close();
  }

  function uploadButton(button)
  {
    var element = $('fj');

    if (element.style.display == '')
    {
      element.style.display = 'none';
    }
    else
    {
      element.style.display = '';
    }
  }

  window.onload = function()
  {
    init_swfupload();
    var f = new FileThumb('qu');
    var t = new ToolBar('nv');

    //var b1 = new Button('Upload New File', 'Upload', 'add.gif');
    var b2 = new Button('Refresh', 'Refresh', 'refresh.gif');

    //b1.callback = uploadButton;
    b2.callback = function(){ window.location.reload(); }

    //t.buttons.push(b1);
    t.buttons.push(b2);

    t.init();
  }
</script>

<table width="100%" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <td class="TB_ToolbarSet" id="nv"></td>
    </tr>

    <tr id="fj" style='display:none;'>
      <td style="white-space: normal;" class="FCKUploadArea">
	<div class="PopupTitle">
	  <span>Upload New Files</span>
	</div>
	<div id="cY">

	  <table cellspacing="0" cellpadding="0" style="padding: 10px;">
	    <tbody>
	    <tr>
	      <td>
		<span id='spanButtonPlaceholder'></span>
		<div id="divFileProgressContainer" style="clear:both;"></div>

		<%= render :partial => "ckeditor/swfupload" %>
	      </td>
	    </tr>
	    </tbody>
	  </table>
      </td>
    </tr>
  </thead>

  <tbody id="qu">
    <tr><td><h2>Pages</h2></td></tr>
    <tr class="pages">
      <td style="height: 100%;">
        <div style="overflow:auto;" id='container'>
          <%= render :partial => "ckeditor/page", :collection => @pages, :as => :page %>
        </div>
      </td>
    </tr>

    <tr><td><h2>Images</h2></td></tr>
    <tr class="archive_studies">
      <td style="height: 100%;">
    	  <div style="overflow:auto; height;" id='container'>
    	   <%= render :partial => "ckeditor/archive_study", :collection => @archive_studies, :as => :archive_study %>
    	  </div>
      </td>
    </tr>

    <tr><td><h2>Documents</h2></td></tr>
    <tr class="documents">
      <td style="height: 100%;">
        <div style="overflow:auto;" id='container'>
         <%= render :partial => "ckeditor/resource", :collection => @documents, :as => :resource %>
        </div>
      </td>
    </tr>

  </tbody>
</table>
