<% content_for(:sidenav) do %>
  <%= render :partial => '/shared/side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
  <%= @archive_news.urn %>
<% end %>

<% content_for(:keywords) do %><%= @archive_news.news.keywords %><% end %>

<article>
  <h2><%= @news.title %></h2> <span>released <%= time_ago_in_words(@news.updated_at) %> ago</span>

	<p>  
	<%= @news.body.html_safe %>
	</p>
	<%= @archive_news.ymd %>
</article>

