<a href="#" id="save-search-link">Save this search</a>
<br/>
<% semantic_form_for search, :remote => true do |f|%>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :archive_id, :value => current_archive.id %>
	<%= f.hidden_field :query, :value => request.params.to_yaml %>

	<%= f.text_field :title, :value => search_abbr(params), :size => 50 %>
	<%= submit_tag "Save"%>
<% end %>
