<% current_archive_idx = @study_searches.keys.index(@current_archive) unless @current_archive == Archive.ada

content_for :js do 
  multi_accordion_on_archive('study-facets', current_archive_idx)
end %>

<% content_for :sidenav do %>
<nav>
  <div id="study-facets">
    <% @study_searches.each do |archive, search| %>
      <h3 class="<%= archive_css(archive) %>"><a href="#"><%= archive.name %></a></h3>
        <div>
  	      <% for facet in search.facets  %>
  					<% if facet.rows.any? %>
    				<dl> 
  						<dt> <strong><%= human_readable(facet.name) %></strong> </dt>
  				    <% facet.rows.each do |row| %>
  				      <dd> <%= link_to first_n_words(5, row.value), transient_search_path(:term => @term, :archive_id => archive.id, :filters => (params[:filters].dup << {facet.name => row.value})) %>  <%= row.count %></dd>
  				    <% end %>
  				  </dl>
					<% end %>
        <% end %>
			</div>
    <% end %>
	</div>
</nav>
<% end %>
