<% content_for :js do %>
  $("#title-view-link").click(function() {
  	$('#title-view-item').toggleClass('selected-menu-item', true);
  	$('#ext-view-item').toggleClass('selected-menu-item', false);
    $('#search-results-title').show();
		$('#search-results-ext').hide();
  });

  $("#ext-view-link").click(function() {
  	$('#title-view-item').toggleClass('selected-menu-item', false);
  	$('#ext-view-item').toggleClass('selected-menu-item', true);
    $('#search-results-ext').show();
		$('#search-results-title').hide();
  });
<% end %>

<section id="study-results">
	<div id="sub-tabs">
	  <ul id="sub-menu" <%= conceal_unless(['title', 'ext',], params[:format]) %>>
	    <li id="title-view-item" <%= selected_menu_if(['title'], params[:format]) %>> <a id="title-view-link">Title View</a></li>
	    <li id="ext-view-item" <%= selected_menu_if(['ext'], params[:format]) %>> <a id="ext-view-link">Extended</a></li>
	  </ul>

	  <%= will_paginate @studies_search.results %>
	</div>
	
	<table id="search-results-title" <%= conceal_unless(['title'], params[:format]) %>>
		<thead>
			<tr>
				<th>Study</th>
				<th>Primary Investigator</th>
				<th>Time Period</th>
				<th>ADA ID</th>
				<th>Archive</th>
			</tr>
		</thead>
		<tbody>
	    <% @studies_search.each_hit_with_result do |hit, study| %>
	      <%= render(:partial => "/shared/study_title_tr", :locals => {:hit => hit, :study => study}) %>
			<% end %>
		</tbody>	
	</table>

  <table id="search-results-ext" <%= conceal_unless(['ext'], params[:format]) %> border=1>
    <% @studies_search.each_hit_with_result do |hit, study| %>
			<%= render(:partial => "/shared/study_ext_tr", :locals => {:hit => hit, :study => study}) %>
    <% end %>
  </table>
</section>
