<% content_for(:sidenav) do %>
  <%= render :partial => 'search_side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	Search: <%= @term %>
<% end %>

<% content_for :js do %>
  $("#studies-link").click(function() {
    $('#study-results').show();
    $('#study-facets').show();
    $('#variable-results').hide();
  	$('#study-items').toggleClass('selected-tab', true);
  	$('#variable-items').toggleClass('selected-tab', false);
  });

  $("#variables-link").click(function() {
    $('#variable-results').show();
    $('#study-results').hide();
  	$('#study-items').toggleClass('selected-tab', false);
  	$('#variable-items').toggleClass('selected-tab', true);
  });

  $("#save-search-link").click(function() {
    $('#new_search').toggle();
  });

  $('#order').change(function() {
    var selected = $("#order option:selected").val();
    var url = '<%= request.request_uri.html_safe %>';
    url = url + "&order=" + selected;
    window.location = url;    
  });
<% end %>


	Order by: 

	<select name="order" id="order">
		<option <%= selected?('study', params)%> value="study">study</study>
		<option <%= selected?('primary-investigator', params)%> value="primary-investigator">Primary Investigator</study>
		<option <%= selected?('time-period', params)%> value="time-period">Time Period</study>
		<option <%= selected?('ada-id', params)%> value="ada-id">ADA ID</study>
	</select>


<div id="search-results">
	<h1>Searching <%= @current_archive.name %> for "<%= @term %>" found <%= pluralize(@studies_search.total, "study")%> and <%= pluralize(@variables_search.total, "variable") %>.</h1>
	<% if @current_archive != Archive.ada %>
	<h3>
		<%= link_to "Expand this search to all ADA", transient_search_path(:term => params[:term], :archive_id => Archive.ada.id) %>. (Studies: <%= @ada_search.total %>, Variables: <%= @variables_search.total %>) 
	</h3>
	<% end %>

  <% if params[:filters].any? %>	
    <p>Filters: <%= filter_list("", params, true).html_safe %></p>
	<br/>
  <% end %>
 
  <% unless @term %> Search requires a term. <% end %>
    
  <% if current_user %>
		<span id="save-searches">
			<span id="save-search-response"></span>

			<span id="save-search-area">
				<% if session[:recent_saved_search_id] %>
					<%= render(:partial => "recent_saved_search", :locals => {:search => @search}) %>
				<% else %>
					<%= render(:partial => "save_search_form") %>
				<% end %>
			</span>
		</span>
  <% end %>

	<div id="tabs">
	  <ul>
	    <li id="study-items" <%= selected_tab_if(['title'], params[:show]) %>> <a id="studies-link" href="#">Studies</a> (<%= @studies_search.total %>) </li>
	    <li id="variable-items" <%= selected_tab_if(['var'], params[:show]) %>> <a id="variables-link" href="#">Variables</a> (<%= @variables_search.total %>) </li>
	  </ul>
	</div>

	<%= render(:partial => "studies") %>
	<%= render(:partial => "variables") %>
</div>
