<li> <a href="<%= browse_catalog_path(:catalog_id => catalog.id) %>" rel="explr-ajax"><%= catalog.title %></a>
  <ul>
    <% for archive_catalog_study in catalog.archive_catalog_studies %>
    	<li> <a href="<%= browse_catalog_path(:catalog_id => catalog.id, :archive_catalog_study_id => archive_catalog_study.id) %>" rel="explr-ajax"> <%= archive_catalog_study.study.ddi_id %> </a> </li>
    <% end %>

    <%= render :partial => "catalog", :collection => catalog.children %>
  </ul>
</li>


