<script type="text/javascript">
$(document).ready(function() {
  $("#title-view-link").click(function() {
    $('#title-view-item').toggleClass('selected-menu-item', true);
    $('#ext-view-item').toggleClass('selected-menu-item', false);
    $('#browse-results-title').show();
    $('#browse-results-ext').hide();
  });

  $("#ext-view-link").click(function() {
    $('#title-view-item').toggleClass('selected-menu-item', false);
    $('#ext-view-item').toggleClass('selected-menu-item', true);
    $('#browse-results-ext').show();
    $('#browse-results-title').hide();
  });
});
</script>

  <h1>Catalog: <%= catalog ? catalog.label : @current_archive.name %></h1>
    
  <div class="float-centre">
      <%= will_paginate @archive_catalog_studies unless @archive_catalog_studies.empty? %>
  </div>
  
	<div id="tabs">
	  <ul>
	    <li id="study-items" <%= selected_tab_if(['title'], params[:show]) %>> <a id="studies-link">Studies</a> (<%= @archive_catalog_studies.size %>)</li>
	  </ul>
	</div>

	<div id="sub-tabs">
	  <ul id="sub-menu" <%= conceal_unless(['title', 'ext',], params[:format]) %>>
	    <li id="title-view-item" <%= selected_menu_if(['title'], params[:format]) %>> <a id="title-view-link" href="#">Title View</a></li>
	    <li id="ext-view-item" <%= selected_menu_if(['ext'], params[:format]) %>> <a id="ext-view-link" href="#">Extended</a></li>
	  </ul>

          <%= will_paginate @archive_catalog_studies %>
	</div>

	<table id="browse-results-title" <%= conceal_unless(['title'], params[:format]) %>>
		<thead>
			<tr>
				<th>Study</th>
				<th>Authoring Entity</th>
				<th>Year</th>
				<th>ADA ID</th>
				<th>Archive</th>
			</tr>
		</thead>
		<tbody>
	    <% @archive_catalog_studies.each do |archive_catalog_study| %>	
	      <%= render(:partial => "/shared/study_title_tr", :locals => {:hit => nil, :study => archive_catalog_study.study} )%>
			<% end %>
		</tbody>
	</table>

	<table id="browse-results-ext" <%= conceal_unless(['ext'], params[:format]) %>>
		<% @archive_catalog_studies.each do |archive_catalog_study| %>	
      <%= render(:partial => "/shared/study_ext_tr", :locals => {:hit => nil, :study => archive_catalog_study.study} )%>
		<% end %>
	</table>
