<% content_for :js do %>
  $('#tree-<%= archive.slug %>').explrTree({
  	ajaxContainerId	: 'browse-results',
  	treeHeight	: 'auto',
  	treeWidth	: 'auto',
  	ajaxLoadingText : '<p> Loading studies ... </p>',
  });	  

//  http://localhost:3000/browse_archive_catalog?archive_catalog_urn=%2Flongitudinal%2Fbrowse%2Flongitudinal-survey-of-immigrants-to-australia
  
  $('.citable').click(function() {
    idx = this.href.indexOf("archive_catalog_urn=");
    length = this.href.toString().length;
    urn = this.href.substring(idx + 20, length);
   // window.location.replace(urn);
  });
<% end %>

<h3 class="<%= archive.slug %>"><a href="#"><%= archive.name %></a></h3>
<div>
  <% if top_level_catalog %>
  <ul id='tree-<%= archive.slug %>'>
    <%= render top_level_catalog.children %>
  </ul>
  <% else %>
    empty
  <% end %>
</div>
