<% content_for(:breadcrumbs) do %>
  DDI Mappings
<% end %>

<fieldset>
  <legend>DDI Mappings</legend>

<p>
<% semantic_form_for([:staff, @ddi_mapping]) do |f| %>
  <% unless @ddi_mapping.new_record? %>
    <%= f.hidden_field :id %>
  <% end %>

<% f.inputs :name => "Map a friendly name to a DDI Element" do %>
   <li class="string">
    <% if @ddi_mapping.new_record? %>
      <%= f.input(:id, :as => :select,
 				:input_html => {:rows => 3, :cols => 20},
 				:collection => @ddi_missing_mappings.collect{|mapping| [mapping.ddi, mapping.id]}, :label => "DDI") %>
    <% else %>
      <em><%= @ddi_mapping.friendly_name %></em> <%= link_to "(Choose another)",  staff_ddi_mappings_path %>
    <% end %>
   </li>

   <li class="string">
	   <%= f.input :human_readable  %>
   </li>

   <li class="string">
	   <%= f.input :description, :label => "Note" %>
   </li>
<% end %>

 <%- f.buttons do -%>
   <%= f.commit_button 'Create Mapping' %>
 <%- end -%>  
<% end %>

	</p>
	<br/>

	 <table width="100%" border=0>
	<caption><h3>Existing Mappings</h3></caption>
	<thead>
	   <tr>
	     <th>DDI</th>
	     <th>Human Readable</th>
	     <th>Note</th>
	   </tr>
	</thead>
	<tbody>
	   <% for ddi_mapping in @ddi_mappings %>
	     <tr>
	       <td><%= ddi_mapping.ddi %></td>
	       <td><%= ddi_mapping.human_readable %></td>
	       <td><%= ddi_mapping.description %></td>
	       <td><%= link_to 'Edit', edit_staff_ddi_mapping_url(ddi_mapping) %></td>
	     </tr>
	   <% end %>
	</tbody>
	</table>

</fieldset>
