<% content_for(:breadcrumbs) do %>
  DDI Mappings
<% end %>

<fieldset>
  <legend>DDI Mappings</legend>

<br clear="all"/>
<br/>
Map human readable names to DDI elements & attributes. <br/> See table below form for existing mappings.

<div id="mappings-form" align='left'>
  
  <% semantic_form_for([:staff, @ddi_mapping]) do |f| %>
    <% unless @ddi_mapping.new_record? %>
      <%= f.hidden_field :id %>
    <% end %>

    <li class="string">
      <label for="ddi_mapping_id">DDI Element</label>
      <%= f.input :id, :as => :select, :collection => @ddi_missing_mappings  %>
    </li> 


  <div class="fields select_fields">
     <p> <%= f.label 'DDI' %>
      <% if @ddi_mapping.new_record? %>
        <%= select_tag("ddi_mapping_id", options_from_collection_for_select(@ddi_missing_mappings, 'id', 'friendly_name')) %>
      <% else %>
        <em><%= @ddi_mapping.friendly_name %></em> <%= link_to "(Choose another)",  staff_ddi_mappings_path %>
      <% end %>
    </p>
  </div>
   <div class="fields text_fields">
    <%= f.label 'Human Readable' %>
    <%= f.text_field :human_readable  %>
  </div>
   <div class="fields textarea_fields">
    <%= f.label 'Note' %>
    <%= f.text_area :description, :rows => 3 %>
   </div>

   <h3>Actions</h3>
   <%- f.buttons do -%>
     <%= f.commit_button %>
   <%- end -%>
   
  <% end %>
</div>

<br/>

<div>
  <table width="80%">
    <tr>
      <th>DDI</th>
      <th>Human Readable</th>
      <th>Note</th>
      <th>Controls</th>
    </tr>
    <% for ddi_mapping in @ddi_mappings %>
      <tr>
        <td><div class="dividers"><%= ddi_mapping.ddi %></div></td>
        <td><div class="dividers"><%= ddi_mapping.human_readable %></div></td>
        <td><div class="dividers"><%= ddi_mapping.description %></div></td>
        <td><div class="dividers"><%= link_to 'Edit', edit_staff_ddi_mapping_url(ddi_mapping) %></div></td>
      </tr>
    <% end %>
  </table>
</div>

</fieldset>
