<% content_for(:breadcrumbs) do %>
  DDI Mappings
<% end %>

<fieldset>
  <legend>DDI Mappings</legend>

<br clear="all"/>
<br/>
Map human readable names to DDI elements & attributes. <br/> See table below form for existing mappings.

 <% semantic_form_for([:staff, @ddi_mapping]) do |f| %>
   <% unless @ddi_mapping.new_record? %>
     <%= f.hidden_field :id %>
   <% end %>

	<% f.inputs :name => "Select a DDI and set the human readable" do %>
	   <li class="string">
	    <% if @ddi_mapping.new_record? %>
	      <%= f.input(:id, :as => :select,
	 				:input_html => {:rows => 3, :cols => 20},
	 				:collection => @ddi_missing_mappings.collect{|mapping| [mapping.ddi, mapping.id]}) %>
	    <% else %>
	      <em><%= @ddi_mapping.friendly_name %></em> <%= link_to "(Choose another)",  staff_ddi_mappings_path %>
	    <% end %>
	   </li>
 
	   <li class="string">
		   <%= f.input :human_readable  %>
	   </li>

	   <li class="string">
		   <%= f.input :description  %>
	   </li>
	<% end %>

  <h3>Actions</h3>
  <%- f.buttons do -%>
    <%= f.commit_button %>
  <%- end -%>  
<% end %>

<br/>

<div>
  <table width="100%">
	<thead>
    <tr>
      <th>DDI</th>
      <th>Human Readable</th>
      <th>Note</th>
      <th>Controls</th>
    </tr>
	</thead>
	<tbody>
    <% for ddi_mapping in @ddi_mappings %>
      <tr>
        <td><%= ddi_mapping.ddi %></td>
        <td><%= ddi_mapping.human_readable %></td>
        <td><%= ddi_mapping.description %></td>
        <td><%= link_to 'Edit', edit_staff_ddi_mapping_url(ddi_mapping) %></td>
      </tr>
    <% end %>
	</tbody>
 </table>
</div>

</fieldset>
