<%= render(:partial => "/staff/shared/resource_errors") %>

<fieldset>
  <legend>Upload an <%= resource.class.name %></legend>

  <% semantic_form_for([:staff, resource], :html => { :multipart => true }) do |form| %>
    <%= form.inputs do %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <%= form.input :archive, :label => 'Main Archive', :include_blank => '(None)', :accept => 'image/png,image/gif,image/jpeg,image/tiff' %>
      <%= form.input :title, :input_html => {:size => "50"} %>

      <li>
        <label for="image_file">Image File</label>
        <%= form.file_field :resource %>
      </li>

      <%= form.buttons do %>
        <%= form.commit_button %>
      <% end %>
    <% end %>
  <% end %>
</fieldset>

