<fieldset>
  <legend id="image-management">
    <%= link_to image_tag('icons/image_add.png'), new_staff_image_path, :id => "new-image-link" %>
  </legend>
  <%= will_paginate @images %>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Main Archive</th>
        <th>Type</th>
        <th>File Size</th>
        <th>Created</th>
        <th>Thumb</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%- @images.each do |image| %>
      <tr id=<%= "image-row-#{image.id}" %>>
        <td> <%= link_to image.title, image.path.slug %> </td>
        <td> <%= (a = image.archive) ? a.name : '(None)' %> </td>
        <td> <%= image.resource_content_type %> </td>
        <td> <%= number_to_human_size(image.resource_file_size) %> </td>
        <td> <%= time_ago_in_words(image.created_at) %> ago </td>
        <td> <%= image_tag image.resource.url(:thumb) %> </td>
        <td>
          <%= link_to 'View', staff_image_path(image) %>
          <%= link_to 'Edit', edit_staff_image_path(image) %>
          <%= link_to 'Delete', staff_image_path(image), :method => :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= page_entries_info @images %>
</fieldset>
