<% content_for(:sidenav) do %>
  <%= render :partial => '/shared/side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	Saved searches - <%= current_user %> 
<% end %>

<div class="float-centre">
  <%= will_paginate @searches %>
</div>
<br/>

<h2>Your Saved Searches</h2>

<br/>

<table width=100% class="content">
  <tr>
    <th><%= link_to 'Title', user_searches_path(current_user, :sort => "title", :order => (params[:order] == "down" ? "up" : "down")), :title => "Sort by title" %></th>
    <th><%= link_to 'Term(s)', user_searches_path(current_user, :sort => "terms", :order => (params[:order] == "down" ? "up" : "down")), :title => "Sort by term" %></th>
    <th>Filter(s)</th>
    <th>Order</th>
    <th><%= link_to 'Time', user_searches_path(current_user, :sort => "created_at", :order => (params[:order] == "down" ? "up" : "down")), :title => "Sort by time" %></th>
    <th>Functions</th>
  </tr>
  <% for search in @searches %>
    <tr>
      <td> <%= link_to search.title, search_path(search) %> </td>
      <td> <%= search.terms %> </td>
      <td> <%= search.filters if search.filters.any? %> </td>
      <td> <%= search.order_by %> </td>
      <td> <%= time_ago_in_words(search.created_at).capitalize %> </td>
      <td> (<%= link_to 'x', user_search_path(current_user, search), :method => :delete, :confirm => "Are you sure you want this deleted?" %>) </td>
    </tr>
  <% end %>
</table>
