<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8"/>
  <title>- ADA - <%= yield(:breadcrumbs) %> </title>
  <%= stylesheet_link_tag "import" %>
  <%= stylesheet_link_tag "manage" %>
  <%= csrf_meta_tag %>

	 <%= javascript_include_tag 'modernizr-1.5.min', 'jquery.min',  'jquery-ui-1.8.6.custom.min', 'jquery.effects.core', 'scripts', 'rails' %>
 </head>
    
<body class="default">
   
  <header class="admin">
		<%= render(:partial => "/shared/user_panel") %>		
	  <div class="masthead admin_masthead"><a href="../index.html">Australian Data Archive</a></div>
  </header>

 	<nav class="subnav" id="admin"></nav>
        
  <nav class="breadcrumbs">
   <p><strong>YOU ARE HERE:</strong><a href="<%= request.path %>"> <%= yield(:breadcrumbs) %></a></p>
  </nav>
  
  <section class="content box content-area">
    <nav class="archive_menu">
      <ul>
        <li class="dashboard"><a href="/staff/home">Dashboard</a></li>
        <li class="ada"><%= link_to 'ADA', staff_archive_path(Archive.ada) %></li>
        <li class="social_science"> <%= link_to 'social science', staff_archive_path(Archive.social_science) %></li>
        <li class="historical"><%= link_to 'historical', staff_archive_path(Archive.historical) %></li>
        <li class="indigenous"><%= link_to 'indigenous', staff_archive_path(Archive.indigenous) %></li>
        <li class="longitudinal"><%= link_to 'longitudinal', staff_archive_path(Archive.longitudinal) %></li>
        <li class="qualitative"><%= link_to 'qualitative', staff_archive_path(Archive.qualitative) %></li>
        <li class="international"><%= link_to 'international', staff_archive_path(Archive.international) %></li>
        <li class="crime_and_justice"><%= link_to 'crime & justice', staff_archive_path(Archive.crime) %></li>
        <li class="site-resources"><a href="/staff/resources">Site Resources</a></li>
        <li class="users"><a href="/staff/users">Users</a></li>
        <li class="news"><a href="/staff/news">News</a></li>
        <li class="adapt"><a href="/staff/adapt">ADAPT</a></li>
        <li class="usage-auditing"><a href="/staff/usage-auditing">Usage Auditing</a></li>
      </ul>
    </nav>

    
	<section class="main_admin">
	  <div class="ada">

			<% if flash[:notice]%>
		  	<div class="notice"><p><%= notice %></p></div>
			<% end %>
		
			<% if flash[:alert]%>
		  	<div class="alert"><p><%= alert %></p></div>
			<% end %>
		
	    <%= yield %>
	  </div>
		</section>
	</section>

<!-- <section class='partners' id="admin_footer"> -->
  <footer class="footer_small">
    <p>&#xA9; Australian Data Archive<% if Rails.env.starts_with? "dev" %>,
      <em><%= deploy_log %></em>
    <% end %>
    </p>
    <p>
  </footer> 
<!-- </section> -->
</body>


<script type="text/javascript">
  $(document).ready(function(){
  <%= yield :js %>
 });
</script>

</html>


