<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8"/>
  <title>- ADA - <%= yield(:breadcrumbs) %> </title>
  <%= stylesheet_link_tag "import" %>
  <%= stylesheet_link_tag "manage" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'modernizr-1.5.min', 'jquery.min',  'jquery-ui-1.8.6.custom.min', 'jquery.effects.core', 'scripts',
 'rails', 'jquery.clearableTextField.min' %>  

 </head>
    
<body id="default">
   
  <header>
    <div class="login">
      Name: <%= link_to current_user.email, staff_user_path(current_user) %> <br/>
      Role: <%= current_user.roles.first.name %> <br/>
						<%= link_to(image_tag("structure/bttn_logout.png"), logout_path) %>
    </div>
    <div class="admin_masthead"><a href="/staff/home">Australian Data Archive</a></div>
  </header>

  <nav class="subnav"> </nav>
        
  <nav class="breadcrumbs">
   <p><strong>YOU ARE HERE:</strong><a href="<%= request.path %>"> <%= yield(:breadcrumbs) %></a></p>
  </nav>
  
  <section class="content">
    <nav>
      <ul>
        <li id="dashboard"><a href="/staff/home">Dashboard</a></li>
        <li id="ada"><%= link_to 'ADA', staff_archive_path(Archive.ada) %></li>
        <li id="science"> <%= link_to 'social science', staff_archive_path(Archive.social_science) %></li>
        <li id="historical"><%= link_to 'historical', staff_archive_path(Archive.historical) %></li>
        <li id="indigenous"><%= link_to 'indigenous', staff_archive_path(Archive.indigenous) %></li>
        <li id="longitudinal"><%= link_to 'longitudinal', staff_archive_path(Archive.longitudinal) %></li>
        <li id="qualitative"><%= link_to 'qualitative', staff_archive_path(Archive.qualitative) %></li>
        <li id="international"><%= link_to 'international', staff_archive_path(Archive.international) %></li>
        <li id="blank"><!-- intentional gap -->&nbsp;</li>
        <li id="site-resources"><a href="/staff/resources">Site Resources</a></li>
        <li id="blank"><!-- intentional gap -->&nbsp;</li>
        <li id="users"><a href="/staff/users">Users</a></li>
        <li id="reports"><a href="/staff/reports">Reports</a></li>
        <li id="news"><a href="/staff/news">News</a></li>
        <li id="adapt"><a href="/staff/adapt">ADAPT</a></li>
        <li id="hccds"><a href="/staff/hccda">HCCDA</a></li>
        <li id="usage-auditing"><a href="/staff/usage-auditing">Usage Auditing</a></li>
      </ul>
    </nav>

    
<article>
  <div class="content-area box">

		<% if flash[:notice]%>
	  	<div class="notice"><p><%= notice %></p></div>
		<% end %>
		
		<% if flash[:alert]%>
	  	<div class="alert"><p><%= alert %></p></div>
		<% end %>
		
    <%= yield %>
  </div>
</article>

  </section>
        
  <footer>
    <p>&#xA9; Australian Data Archive<% if Rails.env == "development" %>,
      <em><%= deploy_log %></em>
    <% end %>
    </p>
    <p>
  </footer> 
</body>

<script type="text/javascript">
  $(document).ready(function(){
  <%= yield :js %>
 });
</script>

</html>


